<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, user-scalable=no">
    <meta property="og:image" content="{{ .Site.BaseURL }}/images/kv.png">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Zen+Kaku+Gothic+New:wght@300;400;700&display=swap" rel="stylesheet">
    {{ $destyle := resources.Get "sass/destyle.css" | minify | fingerprint }}
    {{ $style := resources.Get "sass/style.scss" | toCSS | minify | fingerprint }}
    <link rel="stylesheet" href="{{ $destyle.Permalink }}">
    <link rel="stylesheet" href="{{ $style.Permalink }}">
    <title>{{ .Site.Title }}</title>
</head>