/* Reset default browser styles */
a {
  text-decoration: none;
  color: #55585b;
}

p {
  font-size: 1rem;
  font-weight: 700;
  line-height: 24px;
  color: #55585b;
}

h1 {
  font-size: 40px;
  font-weight: 700;
  color: #55585b;
  text-align: center;
  padding: 1rem 0;
  line-height: 1.5;
}

h4 {
  font-size: 24px;
  font-weight: 700;
  color: #383833;
  text-align: center;
  line-height: 1.5;
}

ul,
li {
  list-style-type: none;
  margin-bottom: 1rem;
  color: #E6E6E5;
}

.text-justify {
  text-align: justify;
}

.text-start {
  text-align: start;
}

.text-blue {
  color: #367785;
}

.text-center {
  text-align: center;
}

.text-pink {
  color: #e87a7c;
}

@media screen and (max-width: 1000px) {
  p {
    font-size: 14px;
  }
  h1 {
    font-size: 32px;
  }
  h4 {
    font-size: 28px;
  }
}
/* title underline */
.title-left {
  margin-bottom: 3rem;
  font-size: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.title-left::before {
  content: "";
  display: block;
  position: absolute;
  background-color: #ffeb87;
  height: 60px;
  width: 100%;
  z-index: -1;
}
.title-left::before {
  left: -10vw;
  border-radius: 0px 10px 10px 0px;
}

.title-right {
  margin-bottom: 3rem;
  font-size: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.title-right::before {
  content: "";
  display: block;
  position: absolute;
  background-color: #ffeb87;
  height: 60px;
  width: 100%;
  z-index: -1;
}
.title-right::before {
  right: -10vw;
  border-radius: 10px 0 0 10px;
}

/* features buttons */
.case__relation-link a {
  display: block;
  position: relative;
  border: 1px solid #c2a731;
  line-height: 1;
  padding: 1rem 1rem;
  text-decoration: none;
  font-size: 0.875rem;
  border-radius: 3rem;
  color: #c2a731;
}
@media screen and (min-width: 1000px) {
  .case__relation-link a:hover {
    color: #ffffff;
    background-color: #c2a731;
  }
}
.case__relation-link a::before {
  display: block;
  position: absolute;
  top: 1rem;
  right: 1rem;
  content: "";
  width: 0.875rem;
  height: 0.875rem;
  background-image: url("data:image/svg+xml,%3Csvg%20width%3D%226%22%20height%3D%228%22%20viewBox%3D%220%200%206%208%22%20fill%3D%22none%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%0A%3Cpath%20d%3D%22M1.47003%200L0.530029%200.94L3.58336%204L0.530029%207.06L1.47003%208L5.47003%204L1.47003%200Z%22%20fill%3D%22%237D7D76%22%2F%3E%0A%3C%2Fsvg%3E%0A");
  background-repeat: no-repeat;
  background-position: center;
}

/* image and ellipse shape */
.features__img-ellipse {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0;
  gap: 32px;
  margin: 0 auto;
  width: 100%;
  height: 364px;
}
.features__img-ellipse .img-ellipse__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 300px;
  position: relative;
}
.features__img-ellipse .img-ellipse__wrapper .ellipse {
  position: absolute;
  width: 100%;
  height: 300px;
  top: 0;
  left: 0;
  z-index: -1;
  background: #faf9ed;
  border-radius: 50%;
}
.features__img-ellipse .img-ellipse__wrapper img {
  position: absolute;
  margin: 0 auto;
}
.features__img-ellipse .img-ellipse__text {
  width: 100%;
  height: 32px;
  font-weight: 400;
  font-size: 24px;
  line-height: 32px;
  color: #5b5b55;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* features case */
.features__case-wrapper {
  padding-top: 42px;
}
@media screen and (max-width: 1000px) {
  .features__case-wrapper {
    padding: 0;
    margin: 0;
    width: 100%;
    left: 0;
  }
}
.features__case-wrapper .features__case {
  padding-top: 1.5rem;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: stretch;
  flex-wrap: wrap;
  gap: 0.5rem;
}
@media screen and (max-width: 1000px) {
  .features__case-wrapper .features__case {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
.features__case-wrapper .features__case .case {
  display: flex;
  flex-direction: column;
  position: relative;
  border: 1px solid gray;
  border-radius: 0.6rem;
  justify-content: flex-start;
  padding: 2rem 1rem;
  width: calc(33% - 1rem);
  margin-right: 1rem;
}
.features__case-wrapper .features__case .case:nth-child(3n) {
  margin-right: 0;
}
@media screen and (max-width: 1000px) {
  .features__case-wrapper .features__case .case {
    padding: 0;
    justify-content: space-around;
    align-items: stretch;
  }
}
.features__case-wrapper .features__case p {
  margin: 0;
  text-align: left;
}
.features__case-wrapper .features__case .badge {
  position: absolute;
  top: 1rem;
  right: 1rem;
  z-index: 10;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  gap: 0.3rem;
  align-items: center;
}
.features__case-wrapper .features__case .badge img {
  height: 40px;
  width: 40px;
}
.features__case-wrapper .features__case .case__title {
  font-size: 1.4rem;
  font-weight: bold;
  margin-bottom: 1rem;
}
.features__case-wrapper .features__case .case__body {
  font-size: 1rem;
  font-weight: 400;
  -moz-text-align-last: left;
       text-align-last: left;
  text-align: justify;
  margin-bottom: 1rem;
  flex-grow: 1;
}
@media screen and (max-width: 1000px) {
  .features__case-wrapper .features__case .case__relation-link {
    margin-top: auto;
  }
}

/* features cover section */
.features__kv h1 {
  font-size: 45px;
  padding-bottom: 4rem;
  line-height: 1.2;
}
.features__kv span {
  font-weight: 500;
  font-size: 28px;
}
.features__kv .kv__content p {
  font-weight: 400;
  padding: 0 21rem;
  margin-bottom: 1rem;
}
.features__kv .kv__img-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: center;
  gap: 2rem;
}

/* download section */
.app-download__btn {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 50px;
  padding-top: 30px;
}

.google__btn img {
  height: 95px;
  width: auto;
}

.app-store__btn img {
  height: 72px;
  width: auto;
}

/* reset css */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Noto Sans JP", sans-serif;
  background-color: #ffffff;
  overflow-x: hidden;
}

section {
  max-width: 1200px;
  margin: 0 auto;
  padding: 52px 12px;
}
@media screen and (max-width: 1000px) {
  section {
    width: 100%;
    margin: 0 auto;
    padding: 40px 16px;
    overflow-x: hidden;
  }
}

.btn.blue {
  background-color: #367785;
  color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 568px;
  height: 84px;
  border: none;
  border-radius: 42px;
  cursor: pointer;
  font-weight: 700;
}
.btn.blue:hover {
  background-color: #4da5b6;
  transition: all 0.5s ease;
}
@media screen and (max-width: 1000px) {
  .btn.blue {
    font-size: 14px;
    width: 250px;
    height: 50px;
  }
}
@media screen and (max-width: 1000px) {
  .btn.blue {
    width: 100%;
    height: 60px;
  }
}
.btn.pink {
  background-color: #e87a7c;
  color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 568px;
  height: 84px;
  border: none;
  border-radius: 42px;
  cursor: pointer;
  font-weight: 700;
}
.btn.pink:hover {
  background-color: #ef9ea0;
  transition: all 0.5s ease;
}
@media screen and (max-width: 1000px) {
  .btn.pink {
    font-size: 14px;
    width: 250px;
    height: 50px;
  }
}
@media screen and (max-width: 1000px) {
  .btn.pink {
    width: 100%;
    height: 60px;
  }
}
.btn.yellow-dark {
  font-size: 28px;
  margin: 3rem auto;
  background-color: #c2a731;
  color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 568px;
  height: 84px;
  border: none;
  border-radius: 42px;
  cursor: pointer;
  font-weight: 700;
}
.btn.yellow-dark:hover {
  background-color: #d7c064;
  transition: all 0.5s ease;
}
@media screen and (max-width: 1000px) {
  .btn.yellow-dark {
    font-size: 14px;
    width: 250px;
    height: 50px;
  }
}
.btn.yellow-light {
  font-size: 28px;
  margin: 2rem auto;
  background-color: #f9d73a;
  color: #6c5c1b;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 568px;
  height: 84px;
  border: none;
  border-radius: 42px;
  cursor: pointer;
  font-weight: 700;
}
.btn.yellow-light:hover {
  background-color: #fbe583;
  transition: all 0.5s ease;
}
@media screen and (max-width: 1000px) {
  .btn.yellow-light {
    font-size: 14px;
    width: 250px;
    height: 50px;
  }
}

.download__btn {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  background-color: #f3edcd;
  color: #333538;
  width: 568px;
  height: 48px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-weight: 500;
  font-size: 20px;
  line-height: 1.5;
}
@media screen and (max-width: 1000px) {
  .download__btn {
    font-size: 14px;
    width: 80%;
    height: 40px;
  }
}

header {
  background-color: rgba(255, 255, 255, 0);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100px;
  overflow: hidden;
  z-index: 50;
  transition: all 0.3s linear;
}

nav {
  display: flex;
  align-content: space-between;
  padding: 1rem 0;
}

.nav__title {
  font-size: 2.5rem;
  font-weight: bold;
  line-height: 1;
  padding: 1rem 6rem;
}
.nav__title span {
  display: block;
  font-size: 1rem;
}
@media screen and (max-width: 1000px) {
  .nav__title {
    font-size: 1.8rem;
    padding: 1rem;
  }
}

/*==================================================================================*/
/*cover section*/
.kv {
  min-height: 700px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  position: relative;
  padding: 60px 0 32px;
}
.kv::before {
  content: "";
  display: block;
  position: absolute;
  width: 120vw;
  height: 400px;
  background-color: #ffe873;
  z-index: -1;
  margin: 3% -10% 0 -20%;
  transform: rotate(-12deg);
  top: -22vw;
}
@media screen and (max-width: 1000px) {
  .kv::before {
    top: -80vw;
  }
}
.kv .hero {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  margin: 0 1.8rem;
  grid-gap: 24px;
}
.kv .hero__content span {
  color: #6c5c1b;
}
.kv .hero__visual {
  color: transparent;
  width: 100%;
}
.kv .hero__visual img {
  width: 100%;
  height: auto;
}
.kv .app-download__btn {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
.kv .google__btn img {
  height: 75px;
  width: auto;
}
.kv .app-store__btn img {
  height: 60px;
  width: auto;
}
@media screen and (max-width: 1000px) {
  .kv .hero {
    grid-template-columns: 1fr;
    grid-gap: 20px;
  }
  .kv .hero__content {
    grid-row: 2;
  }
  .kv .hero__visual {
    grid-row: 1;
  }
  .kv .section__download {
    padding: 2rem 1rem;
  }
  .kv .google__btn img {
    height: 60px;
  }
  .kv .app-store__btn img {
    height: 47px;
  }
}

/*==================================================================================*/
/*main content section*/
/*==================================================================================*/
.maincont {
  position: relative;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}
.maincont::before {
  content: "";
  display: block;
  position: absolute;
  width: 150vw;
  height: 600px;
  background-color: #faf9ed;
  z-index: -1;
  margin: 3% -10% 0 -20%;
  transform: rotate(-12deg);
}
@media screen and (max-width: 1000px) {
  .maincont::before {
    height: 170vh;
    left: -6vw;
  }
}
.maincont .maincont__card {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px;
}
.maincont .maincont__card .card {
  display: grid;
  grid-template-rows: 0.8fr 2fr auto;
  margin: 4rem 0;
  justify-items: center;
}
.maincont .maincont__card .card .card__img-wrapper {
  margin: 1rem 0;
}
.maincont .maincont__card .card .card__img-wrapper img {
  height: 100%;
  width: auto;
}
@media screen and (max-width: 1000px) {
  .maincont .maincont__card {
    grid-template-columns: 1fr;
    justify-content: center;
    margin: 0 auto;
    gap: 40px;
    padding: 3rem 1rem;
  }
  .maincont .maincont__card .card {
    margin: 0;
    justify-content: center;
  }
}

/*==================================================================================*/
/* features section */
/*==================================================================================*/
.features {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}
.features::before {
  top: 100px;
  content: "";
  display: block;
  position: absolute;
  width: 120vw;
  height: 111px;
  background-color: #ffeb87;
  z-index: -1;
  margin: 3% -10% 0 -20%;
  transform: rotate(-12deg);
}
.features::after {
  top: 1100px;
  content: "";
  display: block;
  position: absolute;
  width: 120vw;
  height: 111px;
  background-color: #ffeb87;
  z-index: -1;
  margin: 3% -10% 0 -20%;
  transform: rotate(-12deg);
}
@media screen and (max-width: 1000px) {
  .features::after {
    top: 2030px;
    height: 57px;
  }
}
.features .features__grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 32px;
  padding: 1rem 0;
}
.features .features__grid h4 {
  padding: 20px 0;
  color: #c2a731;
}
.features .features__grid .features__card {
  display: grid;
  grid-template-rows: 0.3fr 0.5fr 0.2fr;
  justify-items: center;
  border: 1px solid #c2a731;
  border-radius: 16px;
  background-color: #ffffff;
  height: 100%;
  padding: 1rem;
}
.features .features__grid .features__card h4 {
  color: #c2a731;
}
.features .features__grid .features__card img {
  width: 100%;
  height: auto;
  -o-object-fit: contain;
     object-fit: contain;
}
.features .features__grid .features__card p {
  padding: 20px;
}
@media screen and (max-width: 1000px) {
  .features .features__grid {
    grid-template-columns: 1fr;
  }
}

/*==================================================================================*/
/* point section */
.point {
  position: relative;
}
.point::before {
  top: 100px;
  content: "";
  display: block;
  position: absolute;
  width: 120vw;
  height: 1000px;
  background-color: #faf9ed;
  z-index: -1;
  margin: 3% -10% 0 -20%;
  transform: rotate(-12deg);
}
@media screen and (max-width: 1000px) {
  .point::before {
    width: 170vw;
    height: 150vh;
    left: -5vw;
  }
}
.point .point__top-grid {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 2rem;
  margin-right: 6rem;
}
.point .point__bottom-grid {
  display: flex;
  align-items: center;
  padding: 2rem;
  margin-left: 4rem;
}
.point .point__text {
  padding: 4.5rem;
}
.point .point__text h4 {
  color: #491919;
  text-align: center;
  margin-bottom: 1rem;
}
.point .point__visual img {
  width: 35rem;
  height: auto;
}
@media screen and (max-width: 1000px) {
  .point .point__top-grid {
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
  }
  .point .point__top-grid .point__text {
    order: 2;
  }
  .point .point__bottom-grid {
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
  }
  .point .point__text {
    padding: 0;
  }
  .point .point__visual img {
    width: 100%;
    padding: 0;
  }
}

/*==================================================================================*/
/* blog section */
.blog {
  display: flex;
  flex-direction: column;
}
.blog h1 {
  margin-bottom: 24px;
}
.blog .blog__card {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: 24px 32px;
  margin: 15px;
  gap: 10px;
  background: #ffffff;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.3), 0px 1px 3px 1px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
}
.blog .blog__card span {
  width: 75px;
  height: 20px;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.25px;
  color: #55585b;
}
.blog .blog__card p {
  width: 194px;
  height: 24px;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.15px;
  color: #55585b;
}
@media screen and (max-width: 1000px) {
  .blog .blog__card {
    padding: 24px auto;
  }
}

/*==================================================================================*/
/* info section */
.info {
  position: relative;
}
.info::before {
  top: 170px;
  content: "";
  display: block;
  position: absolute;
  width: 120vw;
  height: 111px;
  background-color: #ffeb87;
  z-index: -1;
  margin: 3% -10% 0 -20%;
  transform: rotate(-12deg);
}
@media screen and (max-width: 1000px) {
  .info::before {
    top: 100px;
    height: 150px;
  }
}
.info .info__text {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-content: center;
}
.info img {
  height: 150px;
  width: auto;
  margin-bottom: 1rem;
}
.info p {
  padding: 2rem 8rem;
}
@media screen and (max-width: 1000px) {
  .info p {
    padding: 8px;
  }
  .info img {
    height: 85px;
  }
}

/*==================================================================================*/
/* footer */
footer {
  background-color: #504100;
  color: #E6E6E5;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 2rem 6rem;
  z-index: -1;
}
footer .footer__left h4 {
  color: #E6E6E5;
  font-weight: 700;
  margin-bottom: 1rem;
}
footer .footer__left p {
  color: #E6E6E5;
}
@media screen and (max-width: 1000px) {
  footer .footer__left p {
    display: none;
  }
}
@media screen and (max-width: 1000px) {
  footer {
    flex-direction: column;
    padding: 2rem;
  }
  footer .footer__right {
    align-items: flex-start;
    align-content: flex-start;
    align-self: flex-start;
  }
}/*# sourceMappingURL=styles.css.map */