@charset "UTF-8";
/* Reset default browser styles */
a {
  text-decoration: none;
  color: #55585b;
}

p {
  font-size: 1rem;
  font-weight: 700;
  line-height: 24px;
  color: #55585b;
}

h1 {
  font-size: 40px;
  font-weight: 700;
  color: #55585b;
  text-align: center;
  padding: 1rem 0;
  line-height: 1.5;
}

h4 {
  font-size: 24px;
  font-weight: 700;
  color: #383833;
  text-align: center;
  line-height: 1.5;
}

ul,
li {
  list-style-type: none;
  margin-bottom: 1rem;
  color: #E6E6E5;
}

.text-justify {
  text-align: justify;
}

.text-start {
  text-align: start;
}

.text-blue {
  color: #367785;
}

.text-center {
  text-align: center;
}

.text-pink {
  color: #e87a7c;
}

@media screen and (max-width: 1000px) {
  p {
    font-size: 14px;
  }
  h1 {
    font-size: 32px;
  }
  h4 {
    font-size: 28px;
  }
}
/* title underline */
.title-left {
  margin-bottom: 3rem;
  font-size: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.title-left::before {
  content: "";
  display: block;
  position: absolute;
  background-color: #ffeb87;
  height: 60px;
  width: 100%;
  z-index: -1;
}
.title-left::before {
  left: -10vw;
  border-radius: 0px 10px 10px 0px;
}

.title-right {
  margin-bottom: 3rem;
  font-size: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.title-right::before {
  content: "";
  display: block;
  position: absolute;
  background-color: #ffeb87;
  height: 60px;
  width: 100%;
  z-index: -1;
}
.title-right::before {
  right: -10vw;
  border-radius: 10px 0 0 10px;
}

/* features buttons */
.case__relation-link a {
  display: block;
  position: relative;
  border: 1px solid #c2a731;
  line-height: 1;
  padding: 1rem 1rem;
  text-decoration: none;
  font-size: 0.875rem;
  border-radius: 3rem;
  color: #c2a731;
}
@media screen and (min-width: 1000px) {
  .case__relation-link a:hover {
    color: #ffffff;
    background-color: #c2a731;
  }
}
.case__relation-link a::before {
  display: block;
  position: absolute;
  top: 1rem;
  right: 1rem;
  content: "";
  width: 0.875rem;
  height: 0.875rem;
  background-image: url("data:image/svg+xml,%3Csvg%20width%3D%226%22%20height%3D%228%22%20viewBox%3D%220%200%206%208%22%20fill%3D%22none%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%0A%3Cpath%20d%3D%22M1.47003%200L0.530029%200.94L3.58336%204L0.530029%207.06L1.47003%208L5.47003%204L1.47003%200Z%22%20fill%3D%22%237D7D76%22%2F%3E%0A%3C%2Fsvg%3E%0A");
  background-repeat: no-repeat;
  background-position: center;
}

/* image and ellipse shape */
.features__img-ellipse {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0;
  gap: 32px;
  margin: 0 auto;
  width: 100%;
  height: 364px;
}
.features__img-ellipse .img-ellipse__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 300px;
  position: relative;
}
.features__img-ellipse .img-ellipse__wrapper .ellipse {
  position: absolute;
  width: 100%;
  height: 300px;
  top: 0;
  left: 0;
  z-index: -1;
  background: #faf9ed;
  border-radius: 50%;
}
.features__img-ellipse .img-ellipse__wrapper img {
  position: absolute;
  margin: 0 auto;
}
.features__img-ellipse .img-ellipse__text {
  width: 100%;
  height: 32px;
  font-weight: 400;
  font-size: 24px;
  line-height: 32px;
  color: #5b5b55;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* features case */
.features__case-wrapper {
  padding-top: 42px;
}
@media screen and (max-width: 1000px) {
  .features__case-wrapper {
    padding: 0;
    margin: 0;
    width: 100%;
    left: 0;
  }
}
.features__case-wrapper .features__case {
  padding-top: 1.5rem;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: stretch;
  flex-wrap: wrap;
  gap: 0.5rem;
}
@media screen and (max-width: 1000px) {
  .features__case-wrapper .features__case {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
.features__case-wrapper .features__case .case {
  display: flex;
  flex-direction: column;
  position: relative;
  border: 1px solid gray;
  border-radius: 0.6rem;
  justify-content: flex-start;
  padding: 2rem 1rem;
  width: calc(33% - 1rem);
  margin-right: 1rem;
}
.features__case-wrapper .features__case .case:nth-child(3n) {
  margin-right: 0;
}
@media screen and (max-width: 1000px) {
  .features__case-wrapper .features__case .case {
    padding: 0;
    justify-content: space-around;
    align-items: stretch;
  }
}
.features__case-wrapper .features__case p {
  margin: 0;
  text-align: left;
}
.features__case-wrapper .features__case .badge {
  position: absolute;
  top: 1rem;
  right: 1rem;
  z-index: 10;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  gap: 0.3rem;
  align-items: center;
}
.features__case-wrapper .features__case .badge img {
  height: 40px;
  width: 40px;
}
.features__case-wrapper .features__case .case__title {
  font-size: 1.4rem;
  font-weight: bold;
  margin-bottom: 1rem;
}
.features__case-wrapper .features__case .case__body {
  font-size: 1rem;
  font-weight: 400;
  -moz-text-align-last: left;
       text-align-last: left;
  text-align: justify;
  margin-bottom: 1rem;
  flex-grow: 1;
}
@media screen and (max-width: 1000px) {
  .features__case-wrapper .features__case .case__relation-link {
    margin-top: auto;
  }
}

/* features cover section */
.features__kv h1 {
  font-size: 45px;
  padding-bottom: 4rem;
  line-height: 1.2;
}
.features__kv span {
  font-weight: 500;
  font-size: 28px;
}
.features__kv .kv__content p {
  font-weight: 400;
  padding: 0 21rem;
  margin-bottom: 1rem;
}
.features__kv .kv__img-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: center;
  gap: 2rem;
}

/* download section */
.app-download__btn {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 50px;
  padding-top: 30px;
}

.google__btn img {
  height: 95px;
  width: auto;
}

.app-store__btn img {
  height: 72px;
  width: auto;
}

.example__title {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: center;
  padding: 48px 0 64px;
}
.example__title h1 {
  font-size: 2.8125rem;
  padding-bottom: 0;
  color: #7D7D76;
}
.example__title span {
  font-weight: 400;
  font-size: 2rem;
  line-height: 2.5rem;
}
.example__title::before {
  content: "";
  display: block;
  position: absolute;
  width: 120vw;
  height: 500px;
  background-color: #ffe873;
  z-index: -1;
  margin: 3% -10% 0 -20%;
  transform: rotate(-12deg);
  top: -550px;
}
@media screen and (max-width: 1199px) {
  .example__title::before {
    top: -380px;
  }
}
@media screen and (max-width: 612px) {
  .example__title::before {
    top: -440px;
  }
}
@media screen and (max-width: 1199px) {
  .example__title h1 {
    font-size: 2.8125rem;
    padding-bottom: 4rem;
    color: #7D7D76;
  }
  .example__title span {
    font-weight: 400;
    font-size: 2rem;
    line-height: 2.5rem;
  }
}
@media screen and (max-width: 612px) {
  .example__title {
    padding: 16px 0 32px;
  }
  .example__title h1 {
    font-size: 2rem;
    line-height: 2.5rem;
    padding-bottom: 0;
  }
  .example__title span {
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.5rem;
  }
}

.case__wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 1rem;
}
@media screen and (max-width: 612px) {
  .case__wrapper {
    padding: 0;
    gap: 0;
    flex-direction: column;
  }
}

.step__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 64px 0;
  gap: 64px;
}
.step__wrapper#step2 .example__case {
  gap: 128px;
}
.step__wrapper#step3 .example__case {
  gap: 128px;
}
.step__wrapper#step3 .example__case .case__wrapper {
  gap: 128px;
}
@media screen and (max-width: 1199px) {
  .step__wrapper {
    padding: 64px 77px;
  }
  .step__wrapper#step1 .example__case {
    height: 640px;
    flex-direction: column;
    gap: 64px;
    margin: 0 -24px;
  }
  .step__wrapper#step1 .example__case .case__wrapper {
    height: 288px;
  }
  .step__wrapper#step2 .example__case {
    gap: 16px;
    height: 288px;
    margin: 0 -24px;
  }
  .step__wrapper#step3 .example__case {
    gap: 16px;
  }
  .step__wrapper#step3 .example__case .case__wrapper {
    gap: 16px;
    height: 288px;
  }
}
@media screen and (max-width: 768px) {
  .step__wrapper {
    padding: 64px 32px;
  }
}
@media screen and (max-width: 895px) {
  .step__wrapper#step3 .example__case {
    margin: 0 -24px;
    flex-direction: column;
    gap: 64px;
  }
}
@media screen and (max-width: 612px) {
  .step__wrapper {
    padding: 32px;
    gap: 32px;
  }
  .step__wrapper#step1 .example__case {
    gap: 0;
    height: auto;
  }
  .step__wrapper#step1 .example__case .case__wrapper {
    height: auto;
  }
  .step__wrapper#step1 .example__case .case__wrapper:last-child {
    margin-top: -2rem;
  }
  .step__wrapper#step2 .example__case {
    gap: 0;
    height: auto;
  }
  .step__wrapper#step3 .example__case {
    gap: 0;
  }
  .step__wrapper#step3 .example__case .case__wrapper {
    gap: 0;
    height: auto;
  }
  .step__wrapper#step3 .example__case .case__wrapper:last-child {
    margin-top: -2rem;
  }
  .step__wrapper .case:last-child {
    margin-bottom: 0;
  }
  .step__wrapper .case.right {
    align-self: flex-end;
  }
  .step__wrapper .case.left {
    align-self: flex-start;
  }
}

.step-wrapper__text {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 32px;
  padding: 0 11.5rem;
  color: #7D7D76;
  text-align: start;
}
@media screen and (max-width: 1199px) {
  .step-wrapper__text {
    padding: 0 77px;
  }
}
@media screen and (max-width: 768px) {
  .step-wrapper__text {
    padding: 0 32px;
  }
}
@media screen and (max-width: 612px) {
  .step-wrapper__text {
    padding: 0;
    font-size: 1rem;
    line-height: 1.5rem;
    letter-spacing: 0.15px;
  }
}

.ex__title-left {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 79px;
  margin-bottom: 4rem;
  color: #7D7D76;
  margin-bottom: 0;
}
@media screen and (max-width: 612px) {
  .ex__title-left {
    height: 46px;
  }
}
.ex__title-left .title__bg {
  position: absolute;
  background-color: #ffeb87;
  margin: 0 auto;
  width: 100vw;
  height: 79px;
  z-index: -1;
  border-radius: 0px 10px 10px 0px;
  right: 0;
}
@media screen and (max-width: 612px) {
  .ex__title-left .title__bg {
    height: 46px;
  }
}

.ex__title-right {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 79px;
  margin-bottom: 4rem;
  color: #7D7D76;
  margin-bottom: 0;
}
@media screen and (max-width: 612px) {
  .ex__title-right {
    height: 46px;
  }
}
.ex__title-right .title__bg {
  position: absolute;
  background-color: #ffeb87;
  width: 100vw;
  height: 79px;
  z-index: -1;
  border-radius: 10px 0 0 10px;
  left: 0;
}
@media screen and (max-width: 612px) {
  .ex__title-right .title__bg {
    height: 46px;
  }
}

/* step header title */
.num {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 1rem;
  color: #7D7D76;
}
.num .num__inner {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin: -4.5rem 0 0.5rem 2rem;
}
.num .step {
  font-size: 1rem;
  line-height: 1.5rem;
  font-weight: 700;
  letter-spacing: 0.15px;
  margin-bottom: 0.5rem;
}
.num .figure {
  font-size: 5.625rem;
  font-weight: 700;
  line-height: 70px;
}
.num .title {
  font-size: 2rem;
  line-height: 40px;
  font-weight: 700;
}
@media screen and (max-width: 1199px) {
  .num .num__inner {
    flex-wrap: nowrap;
    margin: -5rem 0 0 0;
  }
}
@media screen and (max-width: 612px) {
  .num {
    gap: 8px;
  }
  .num .step {
    font-size: 0.75rem;
    letter-spacing: 0.4px;
    margin-bottom: -1rem;
  }
  .num .num__inner {
    margin: -2.2rem 0 0 0;
  }
  .num .figure {
    font-size: 3.75rem;
    line-height: 86.88px;
  }
  .num .title {
    font-size: 22px;
  }
}

/*example case */
.example__case {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 1rem;
}
.example__case .case {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #f7f3dd;
  height: 288px;
  width: 288px;
  gap: 12px;
  margin-bottom: 1rem;
  border-radius: 100%;
}
.example__case .case .roll {
  font-size: 1.375rem;
  font-weight: 700;
  line-height: 28px;
}
.example__case .case .image-container {
  height: 150px;
  width: auto;
}
.example__case .case .image-container img {
  height: 150px;
  width: auto;
}
.example__case .case .action {
  padding: 0 3rem;
  text-align: center;
  color: #7D7D76;
}
@media screen and (max-width: 612px) {
  .example__case {
    height: auto;
    gap: 0;
    padding: 0;
    margin: 0 -32px;
    flex-direction: column;
  }
  .example__case .case {
    height: 240px;
    width: 240px;
    margin-bottom: -3rem;
  }
  .example__case .case p {
    margin: 0;
    text-align: center;
    padding: 0 40px;
  }
  .example__case .case .roll {
    font-size: 1rem;
    font-weight: 700;
    line-height: 1.5rem;
  }
  .example__case .case .image-container {
    font-size: 0.875rem;
    height: 100px;
    width: 145px;
  }
  .example__case .case .image-container img {
    margin: 0;
    height: 100px;
    width: auto;
    -o-object-fit: contain;
       object-fit: contain;
  }
  .example__case .case .action {
    padding: 0 2.5rem;
    font-size: 0.875rem;
    z-index: 10;
  }
}

/* example link */
.example__link {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
  width: 568px;
  gap: 1rem;
}
.example__link h4 {
  color: #7D7D76;
  font-size: 1.375rem;
  line-height: 1.75rem;
  font-weight: 700;
}
.example__link .case__relation-link a {
  height: 48px;
  font-size: 1.5rem;
  padding: 8px 16px;
  line-height: 2rem;
}
.example__link .case__relation-link a::before {
  height: 20px;
  width: 20px;
  background-image: url("data:image/svg+xml,%3Csvg%20width%3D%228%22%20height%3D%2210%22%20viewBox%3D%220%200%208%2010%22%20fill%3D%22none%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20d%3D%22M2.0876%200L0.912598%201.175L4.72926%205L0.912598%208.825L2.0876%2010L7.0876%205L2.0876%200Z%22%20fill%3D%22%23504100%22%2F%3E%3C%2Fsvg%3E");
  top: 0.9rem;
}
@media screen and (max-width: 1199px) {
  .example__link {
    padding: 0;
    max-width: 100%;
  }
}
@media screen and (max-width: 612px) {
  .example__link {
    padding: 0;
    max-width: 100%;
  }
  .example__link h4 {
    font-size: 1rem;
    line-height: 1.5rem;
    letter-spacing: 0.15px;
  }
  .example__link p {
    margin: 0;
  }
  .example__link .case__relation-link a {
    font-size: 1rem;
    line-height: 1.5rem;
    letter-spacing: 0.15px;
    height: 40px;
  }
  .example__link .case__relation-link a::before {
    top: 0.7rem;
  }
}

.example__download {
  padding: 64px 0 128px;
}
@media screen and (max-width: 612px) {
  .example__download {
    padding: 32px 0 64px;
  }
}

body {
  color: #7D7D76;
}

.page__title {
  padding: 48px 0 64px;
}
.page__title h1 {
  font-size: 45px;
  font-weight: 700;
  color: #7D7D76;
  text-align: center;
  line-height: 52px;
}
@media screen and (max-width: 767px) {
  .page__title {
    padding: 16px 0 64px;
  }
  .page__title h1 {
    font-size: 32px;
    line-height: 40px;
  }
}

.profile__kv {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  padding: 64px 0 64px;
}
.profile__kv::before {
  content: "";
  display: block;
  position: absolute;
  width: 120vw;
  height: 600px;
  background-color: #ffe873;
  z-index: -1;
  margin: 3% -10% 0 -20%;
  transform: rotate(-12deg);
  top: -800px;
}
@media screen and (max-width: 1199px) {
  .profile__kv::before {
    top: -640px;
  }
}
@media screen and (max-width: 767px) {
  .profile__kv::before {
    top: -680px;
  }
}
.profile__kv .profile__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}
.profile__kv .profile__content p {
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  letter-spacing: 0.15px;
  color: #7D7D76;
}
.profile__kv .logo img {
  height: 150px;
  width: auto;
}
@media screen and (max-width: 1199px) {
  .profile__kv {
    padding: 76px 77px 64px;
    max-width: 968px;
  }
}
@media screen and (max-width: 767px) {
  .profile__kv {
    padding: 0 32px;
  }
  .profile__kv .logo img {
    height: 90px;
    width: auto;
  }
}

/* business section (2nd section) */
.business {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 64px;
  padding: 64px 0;
  position: relative;
}
.business h4 {
  color: #7D7D76;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 36px;
  line-height: 44px;
  font-weight: 700;
  padding: 0 32px;
  position: relative;
}
.business h4::before {
  top: -65px;
  content: "";
  display: block;
  position: absolute;
  width: 120vw;
  height: 111px;
  background-color: #ffeb87;
  z-index: -1;
  margin: 3% -10% 0 -20%;
  transform: rotate(-12deg);
}
@media screen and (max-width: 1199px) {
  .business h4::before {
    top: -25px;
    height: 111px;
  }
}
@media screen and (max-width: 767px) {
  .business h4::before {
    height: 57px;
    top: -20px;
  }
}
.business .teams {
  display: flex;
  flex-direction: row;
  justify-content: stretch;
  align-items: stretch;
  padding: 0;
  gap: 32px;
}
.business .teams li {
  color: #55585b;
  margin-bottom: 0;
  margin-left: 0;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.15px;
  font-weight: 400;
}
.business .teams li:before {
  content: "•";
  color: inherit;
  font-size: 20px;
  margin: 0 5px;
}
.business .teams .teambox {
  border: 1px solid #c2a731;
  overflow: hidden;
  flex: 1 1 auto;
}
.business .teams .teambox .teamname {
  margin: 0;
  padding: 0.5rem;
  background-color: #ffeb87;
  text-align: center;
  font-size: 22px;
  line-height: 28px;
  font-weight: 500;
  color: #7D7D76;
}
.business .teams .teambox .inner {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 16px 32px 26px;
  gap: 32px;
}
.business .teams .teambox .inner li {
  color: #7D7D76;
}
.business .teams .teambox .inner .image {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100px;
  width: 100px;
}
.business .teams .teambox .inner .image .dev__img {
  height: 50px;
}
.business .teams .teambox .inner .image .cc__img {
  height: 87.5px;
  width: auto;
}
.business .teams .teambox .note {
  padding: 0 32px 16px;
  line-height: 20px;
  font-weight: 400;
  font-size: 14px;
  letter-spacing: 0.25px;
  text-align: center;
  color: #7D7D76;
}
@media screen and (max-width: 1199px) {
  .business {
    max-width: 968px;
    padding: 64px 0;
  }
}
@media screen and (max-width: 967px) {
  .business {
    padding: 64px 77px;
  }
  .business .teams {
    flex-direction: column;
  }
}
@media screen and (max-width: 767px) {
  .business {
    padding: 64px 32px;
    gap: 32px;
  }
  .business h4 {
    font-size: 28px;
    line-height: 36px;
    padding: 0 32px;
  }
  .business .teams {
    padding: 0;
  }
  .business .teams .teambox .note {
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0.4px;
    padding: 0 16px 8px;
    text-align: start;
  }
  .business .teams .teambox .teamname {
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.15px;
  }
  .business .teams .teambox .inner {
    padding: 8px 16px;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
  }
  .business .teams .teambox .inner .image {
    margin: 0 auto;
    width: 70px;
    height: 70px;
  }
  .business .teams .teambox .inner .image .dev__img {
    height: 35px;
  }
  .business .teams .teambox .inner .image .cc__img {
    height: 61px;
    width: auto;
  }
  .business .teams ul,
.business .teams li {
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.25px;
  }
}

.enclose {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid #c2a731;
  margin: 64px auto 128px;
  padding: 32px;
}
.enclose dl dt {
  font-size: 22px;
  line-height: 28px;
  font-weight: 700;
  margin-bottom: 0.25rem;
}
.enclose dl .enclose__button {
  display: flex;
  flex-direction: row;
  align-items: center;
  box-sizing: border-box;
  gap: 12px;
}
.enclose dl .enclose__button .button {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 22px;
  width: 80px;
  border-radius: 11px;
  padding: 0 23.5px;
  background-color: #c2a731;
}
.enclose dl .enclose__button .button:hover {
  background-color: #d7c064;
}
.enclose dl .enclose__button .button a {
  width: 33px;
  height: 24px;
  margin-bottom: 3px;
  color: #ffffff;
  font-size: 16px;
  line-height: 24px;
  font-weight: 700;
  letter-spacing: 0.15px;
}
.enclose dl dd {
  color: #7D7D76;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.15px;
}
.enclose dl dd + dt {
  margin-top: 1rem;
}
.enclose dl dd ul {
  margin: 0;
}
.enclose dl dd li {
  list-style-type: disc;
  font-size: 16px;
  margin: 0 0 0.5rem 2rem;
  color: #7D7D76;
  font-weight: 400;
}
@media screen and (max-width: 1199px) {
  .enclose {
    margin: 64px auto 128px;
    max-width: 968px;
  }
}
@media screen and (max-width: 968px) {
  .enclose {
    margin: 64px 77px 128px;
  }
}
@media screen and (max-width: 767px) {
  .enclose {
    margin: 0 32px 64px;
    padding: 16px;
  }
  .enclose dl dt {
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.1px;
    margin-bottom: 0;
  }
  .enclose dl dd {
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0.4px;
    margin-bottom: 1rem;
  }
  .enclose dl dd + dt {
    margin-top: 0.2rem;
  }
  .enclose dl dd li {
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0.4px;
  }
  .enclose dl .enclose__button {
    gap: 8px;
  }
  .enclose dl .enclose__button .button {
    height: 16px;
    width: 52px;
    padding: 0 13.5px;
  }
  .enclose dl .enclose__button .button a {
    margin-bottom: 2px;
    width: 25px;
    height: 16px;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0.4px;
  }
}

.business__diagram {
  width: 100%;
  max-width: 100%;
  margin: 0 auto;
  height: 551px;
  position: relative;
}
@media screen and (max-width: 1199px) {
  .business__diagram {
    height: 584px;
  }
}
@media screen and (max-width: 767px) {
  .business__diagram {
    height: 304px;
  }
}
.business__diagram .top-box {
  position: absolute;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 91.67%;
  height: 327px;
  left: 0px;
  top: 0;
  gap: 32px;
  padding: 32px 32px 135px;
  background: #ffffff;
  border: 1px solid #c2a731;
}
.business__diagram .top-box .box__title,
.business__diagram .top-box p {
  text-align: right;
}
@media screen and (max-width: 1199px) {
  .business__diagram .top-box {
    height: 359px;
    padding-bottom: 167px;
  }
}
@media screen and (max-width: 767px) {
  .business__diagram .top-box {
    height: 192px;
    padding: 16px 16px 96px;
  }
}
.business__diagram .center-box {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  position: absolute;
  width: 83.33%;
  left: 8.33%;
  padding: 32px;
  height: 103px;
  top: 224px;
  z-index: 1;
  background: #ffeb87;
  border: 2px solid #c2a731;
}
@media screen and (max-width: 1199px) {
  .business__diagram .center-box {
    height: 135px;
  }
}
@media screen and (max-width: 767px) {
  .business__diagram .center-box {
    top: 112px;
    height: 80px;
    padding: 16px 32px;
  }
}
.business__diagram .center-box .center-box__title {
  width: 864px;
  font-weight: 700;
  font-size: 32px;
  line-height: 40px;
  text-align: center;
  color: #5b5b55;
}
@media screen and (max-width: 1199px) {
  .business__diagram .center-box .center-box__title {
    font-size: 28px;
    line-height: 36px;
  }
}
@media screen and (max-width: 767px) {
  .business__diagram .center-box .center-box__title {
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.15px;
  }
}
.business__diagram .bottom-box {
  position: absolute;
  width: 91.67%;
  height: 327px;
  right: 0;
  bottom: 0;
  padding: 135px 32px 32px;
  background: #ffffff;
  border: 1px solid #c2a731;
}
@media screen and (max-width: 1199px) {
  .business__diagram .bottom-box {
    height: 360px;
    padding-top: 167px;
  }
  .business__diagram .bottom-box img {
    height: 128px;
  }
}
@media screen and (max-width: 767px) {
  .business__diagram .bottom-box {
    height: 192px;
    padding: 96px 16px 16px;
  }
  .business__diagram .bottom-box img {
    height: 80px;
    width: 139px;
  }
}
.business__diagram img {
  height: 160px;
  width: auto;
}
@media screen and (max-width: 767px) {
  .business__diagram img {
    height: 80px;
  }
}
.business__diagram .box__inside {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 32px;
}
@media screen and (max-width: 767px) {
  .business__diagram .box__inside {
    height: 80px;
    gap: 16px;
    padding: 0 1rem;
  }
}
.business__diagram .box__text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 16px;
}
.business__diagram .box__text p {
  color: #7D7D76;
}
.business__diagram .box__text .box__title {
  color: #e87a7c;
  font-size: 22px;
  font-weight: 700;
  line-height: 28px;
}
@media screen and (max-width: 1199px) {
  .business__diagram .box__text {
    height: 160px;
  }
}
@media screen and (max-width: 767px) {
  .business__diagram .box__text {
    height: 80px;
    gap: 8px;
  }
  .business__diagram .box__text .box__title {
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.1px;
  }
  .business__diagram .box__text p {
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0.4px;
  }
}

.history__page-title {
  padding: 128px 0 64px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}
.history__page-title::before {
  content: "";
  display: block;
  position: absolute;
  width: 120vw;
  height: 500px;
  background-color: #ffe873;
  z-index: -1;
  margin: 3% -10% 0 -20%;
  transform: rotate(-12deg);
  top: -520px;
}
@media screen and (max-width: 1200px) {
  .history__page-title::before {
    top: -428px;
  }
}
.history__page-title span {
  font-weight: 400;
  font-size: 32px;
  line-height: 40px;
}
@media screen and (max-width: 767px) {
  .history__page-title span {
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
  }
}
@media screen and (max-width: 767px) {
  .history__page-title {
    padding: 64px 0 32px;
  }
  .history__page-title::before {
    top: -490px;
  }
}

.history__main-cont {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 64px;
  padding: 64px 0 128px;
}
@media screen and (max-width: 1199px) {
  .history__main-cont {
    padding: 64px 77px 128px;
  }
}
@media screen and (max-width: 767px) {
  .history__main-cont {
    padding: 32px 32px 64px;
  }
}
.history__main-cont .history__kv {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 32px;
}
@media screen and (max-width: 767px) {
  .history__main-cont .history__kv {
    gap: 16px;
  }
  .history__main-cont .history__kv p {
    letter-spacing: 0.1px;
  }
}
.history__main-cont .history__kv-text {
  font-weight: 500;
  text-align: center;
}
.history__main-cont .history__kv-image {
  height: 400px;
  width: 600px;
}
@media screen and (max-width: 767px) {
  .history__main-cont .history__kv-image {
    height: 200px;
    width: 300px;
  }
}
.history__main-cont .career__title {
  color: #c2a731;
  text-align: center;
  margin-bottom: 32px;
}
@media screen and (max-width: 767px) {
  .history__main-cont .career__title {
    margin-bottom: 16px;
  }
}
.history__main-cont .career__section {
  display: flex;
  flex-direction: column;
  gap: 64px;
}
@media screen and (max-width: 767px) {
  .history__main-cont .career__section {
    gap: 32px;
  }
}
.history__main-cont .career__section .career__content-year {
  font-weight: 500;
}

.error__cont {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 64px;
  width: 438px;
  height: auto;
  padding: 128px 0;
  position: relative;
}
@media screen and (max-width: 767px) {
  .error__cont {
    width: 322px;
    gap: 32px;
    padding: 64px 0;
  }
}
.error__cont::before {
  content: "";
  display: block;
  position: absolute;
  width: 120vw;
  height: 500px;
  background-color: #ffe873;
  z-index: -1;
  margin: 3% -10% 0 -20%;
  transform: rotate(-12deg);
  top: -520px;
}
@media screen and (max-width: 1200px) {
  .error__cont::before {
    width: 120vw;
    top: -490px;
  }
}
@media screen and (max-width: 767px) {
  .error__cont::before {
    top: -480px;
  }
}
.error__cont .error__image {
  height: 350px;
  width: 350px;
}
@media screen and (max-width: 767px) {
  .error__cont .error__image {
    height: 250px;
    width: 250px;
  }
}
.error__cont .error__404 {
  padding: 0 32px;
  color: #f9d73a;
  text-align: center;
  font-size: 57px;
  font-style: normal;
  font-weight: 700;
  line-height: 64px; /* 112.281% */
  letter-spacing: -0.25px;
}
@media screen and (max-width: 767px) {
  .error__cont .error__404 {
    padding: 0;
    font-size: 45px;
    font-style: normal;
    font-weight: 700;
    line-height: 52px;
  }
}
.error__cont .error__text {
  font-size: 22px;
  font-style: normal;
  font-weight: 500;
  line-height: 28px;
}
@media screen and (max-width: 767px) {
  .error__cont .error__text {
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px; /* 150% */
    letter-spacing: 0.15px;
  }
}

.error__navigation {
  padding: 0 0 128px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media screen and (max-width: 767px) {
  .error__navigation {
    padding: 0 32px 64px;
  }
}
.error__navigation .error__navigation-text {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  border-radius: 60px;
  color: #7D7D76;
  border: 1px solid #7D7D76;
  background-color: #ffffff;
  padding: 16px 32px;
  height: 56px;
  width: auto;
  cursor: pointer;
  gap: 8px;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.15px;
  box-sizing: border-box;
}
.error__navigation .error__navigation-text:hover {
  opacity: 0.7;
}
@media screen and (max-width: 767px) {
  .error__navigation .error__navigation-text {
    height: 34px;
    width: auto;
    padding: 8px 16px;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.25px;
  }
}
.error__navigation .error__navigation-text .error__navigation-icon {
  content: "";
  width: 24px;
  height: 24px;
  background-image: url("data:image/svg+xml,%3Csvg%20width%3D%2225%22%20height%3D%2224%22%20viewBox%3D%220%200%2025%2024%22%20fill%3D%22none%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20d%3D%22M16.2049%207.41L14.7949%206L8.79492%2012L14.7949%2018L16.2049%2016.59L11.6249%2012L16.2049%207.41Z%22%20fill%3D%22%235B5B55%22%2F%3E%3C%2Fsvg%3E");
  background-repeat: no-repeat;
  background-position: center;
}

/* reset css */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Noto Sans JP", sans-serif;
  background-color: #ffffff;
  overflow-x: hidden;
}

section {
  max-width: 1200px;
  margin: 0 auto;
  padding: 52px 12px;
}
@media screen and (max-width: 1000px) {
  section {
    width: 100%;
    margin: 0 auto;
    padding: 40px 16px;
    overflow-x: hidden;
  }
}

.btn.blue {
  background-color: #367785;
  color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 568px;
  height: 84px;
  border: none;
  border-radius: 42px;
  cursor: pointer;
  font-weight: 700;
}
.btn.blue:hover {
  background-color: #4da5b6;
  transition: all 0.5s ease;
}
@media screen and (max-width: 1000px) {
  .btn.blue {
    font-size: 14px;
    width: 250px;
    height: 50px;
  }
}
@media screen and (max-width: 1000px) {
  .btn.blue {
    width: 100%;
    height: 60px;
  }
}
.btn.pink {
  background-color: #e87a7c;
  color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 568px;
  height: 84px;
  border: none;
  border-radius: 42px;
  cursor: pointer;
  font-weight: 700;
}
.btn.pink:hover {
  background-color: #ef9ea0;
  transition: all 0.5s ease;
}
@media screen and (max-width: 1000px) {
  .btn.pink {
    font-size: 14px;
    width: 250px;
    height: 50px;
  }
}
@media screen and (max-width: 1000px) {
  .btn.pink {
    width: 100%;
    height: 60px;
  }
}
.btn.yellow-dark {
  font-size: 28px;
  margin: 3rem auto;
  background-color: #c2a731;
  color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 568px;
  height: 84px;
  border: none;
  border-radius: 42px;
  cursor: pointer;
  font-weight: 700;
}
.btn.yellow-dark:hover {
  background-color: #d7c064;
  transition: all 0.5s ease;
}
@media screen and (max-width: 1000px) {
  .btn.yellow-dark {
    font-size: 14px;
    width: 250px;
    height: 50px;
  }
}
.btn.yellow-light {
  font-size: 28px;
  margin: 2rem auto;
  background-color: #f9d73a;
  color: #6c5c1b;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 568px;
  height: 84px;
  border: none;
  border-radius: 42px;
  cursor: pointer;
  font-weight: 700;
}
.btn.yellow-light:hover {
  background-color: #fbe583;
  transition: all 0.5s ease;
}
@media screen and (max-width: 1000px) {
  .btn.yellow-light {
    font-size: 14px;
    width: 250px;
    height: 50px;
  }
}

.download__btn {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  background-color: #f3edcd;
  color: #333538;
  width: 568px;
  height: 48px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-weight: 500;
  font-size: 20px;
  line-height: 1.5;
}
@media screen and (max-width: 1000px) {
  .download__btn {
    font-size: 14px;
    width: 80%;
    height: 40px;
  }
}

header {
  background-color: rgba(255, 255, 255, 0);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100px;
  overflow: hidden;
  z-index: 50;
  transition: all 0.3s linear;
}

nav {
  display: flex;
  align-content: space-between;
  padding: 1rem 0;
}

.nav__title {
  font-size: 2.5rem;
  font-weight: bold;
  line-height: 1;
  padding: 1rem 6rem;
}
.nav__title span {
  display: block;
  font-size: 1rem;
}
@media screen and (max-width: 1000px) {
  .nav__title {
    font-size: 1.8rem;
    padding: 1rem;
  }
}

/*==================================================================================*/
/*cover section*/
.kv {
  min-height: 700px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  position: relative;
  padding: 60px 0 32px;
}
.kv::before {
  content: "";
  display: block;
  position: absolute;
  width: 120vw;
  height: 400px;
  background-color: #ffe873;
  z-index: -1;
  margin: 3% -10% 0 -20%;
  transform: rotate(-12deg);
  top: -22vw;
}
@media screen and (max-width: 1000px) {
  .kv::before {
    top: -80vw;
  }
}
.kv .hero {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  margin: 0 1.8rem;
  grid-gap: 24px;
}
.kv .hero__content span {
  color: #6c5c1b;
}
.kv .hero__visual {
  color: transparent;
  width: 100%;
}
.kv .hero__visual img {
  width: 100%;
  height: auto;
}
.kv .app-download__btn {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
.kv .google__btn img {
  height: 75px;
  width: auto;
}
.kv .app-store__btn img {
  height: 60px;
  width: auto;
}
@media screen and (max-width: 1000px) {
  .kv .hero {
    grid-template-columns: 1fr;
    grid-gap: 20px;
  }
  .kv .hero__content {
    grid-row: 2;
  }
  .kv .hero__visual {
    grid-row: 1;
  }
  .kv .section__download {
    padding: 2rem 1rem;
  }
  .kv .google__btn img {
    height: 60px;
  }
  .kv .app-store__btn img {
    height: 47px;
  }
}

/*==================================================================================*/
/*main content section*/
/*==================================================================================*/
.maincont {
  position: relative;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}
.maincont::before {
  content: "";
  display: block;
  position: absolute;
  width: 150vw;
  height: 600px;
  background-color: #faf9ed;
  z-index: -1;
  margin: 3% -10% 0 -20%;
  transform: rotate(-12deg);
}
@media screen and (max-width: 1000px) {
  .maincont::before {
    height: 170vh;
    left: -6vw;
  }
}
.maincont .maincont__card {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px;
}
.maincont .maincont__card .card {
  display: grid;
  grid-template-rows: 0.8fr 2fr auto;
  margin: 4rem 0;
  justify-items: center;
}
.maincont .maincont__card .card .card__img-wrapper {
  margin: 1rem 0;
}
.maincont .maincont__card .card .card__img-wrapper img {
  height: 100%;
  width: auto;
}
@media screen and (max-width: 1000px) {
  .maincont .maincont__card {
    grid-template-columns: 1fr;
    justify-content: center;
    margin: 0 auto;
    gap: 40px;
    padding: 3rem 1rem;
  }
  .maincont .maincont__card .card {
    margin: 0;
    justify-content: center;
  }
}

/*==================================================================================*/
/* features section */
/*==================================================================================*/
.features {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}
.features::before {
  top: 100px;
  content: "";
  display: block;
  position: absolute;
  width: 120vw;
  height: 111px;
  background-color: #ffeb87;
  z-index: -1;
  margin: 3% -10% 0 -20%;
  transform: rotate(-12deg);
}
.features::after {
  top: 1100px;
  content: "";
  display: block;
  position: absolute;
  width: 120vw;
  height: 111px;
  background-color: #ffeb87;
  z-index: -1;
  margin: 3% -10% 0 -20%;
  transform: rotate(-12deg);
}
@media screen and (max-width: 1000px) {
  .features::after {
    top: 2030px;
    height: 57px;
  }
}
.features .features__grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 32px;
  padding: 1rem 0;
}
.features .features__grid h4 {
  padding: 20px 0;
  color: #c2a731;
}
.features .features__grid .features__card {
  display: grid;
  grid-template-rows: 0.3fr 0.5fr 0.2fr;
  justify-items: center;
  border: 1px solid #c2a731;
  border-radius: 16px;
  background-color: #ffffff;
  height: 100%;
  padding: 1rem;
}
.features .features__grid .features__card h4 {
  color: #c2a731;
}
.features .features__grid .features__card img {
  width: 100%;
  height: auto;
  -o-object-fit: contain;
     object-fit: contain;
}
.features .features__grid .features__card p {
  padding: 20px;
}
@media screen and (max-width: 1000px) {
  .features .features__grid {
    grid-template-columns: 1fr;
  }
}

/*==================================================================================*/
/* point section */
.point {
  position: relative;
}
.point::before {
  top: 100px;
  content: "";
  display: block;
  position: absolute;
  width: 120vw;
  height: 1000px;
  background-color: #faf9ed;
  z-index: -1;
  margin: 3% -10% 0 -20%;
  transform: rotate(-12deg);
}
@media screen and (max-width: 1000px) {
  .point::before {
    width: 170vw;
    height: 150vh;
    left: -5vw;
  }
}
.point .point__top-grid {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 2rem;
  margin-right: 6rem;
}
.point .point__bottom-grid {
  display: flex;
  align-items: center;
  padding: 2rem;
  margin-left: 4rem;
}
.point .point__text {
  padding: 4.5rem;
}
.point .point__text h4 {
  color: #491919;
  text-align: center;
  margin-bottom: 1rem;
}
.point .point__visual img {
  width: 35rem;
  height: auto;
}
@media screen and (max-width: 1000px) {
  .point .point__top-grid {
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
  }
  .point .point__top-grid .point__text {
    order: 2;
  }
  .point .point__bottom-grid {
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
  }
  .point .point__text {
    padding: 0;
  }
  .point .point__visual img {
    width: 100%;
    padding: 0;
  }
}

/*==================================================================================*/
/* blog section */
.blog {
  display: flex;
  flex-direction: column;
}
.blog h1 {
  margin-bottom: 24px;
}
.blog .blog__card {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: 24px 32px;
  margin: 15px;
  gap: 10px;
  background: #ffffff;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.3), 0px 1px 3px 1px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
}
.blog .blog__card span {
  width: 75px;
  height: 20px;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.25px;
  color: #55585b;
}
.blog .blog__card p {
  width: 194px;
  height: 24px;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.15px;
  color: #55585b;
}
@media screen and (max-width: 1000px) {
  .blog .blog__card {
    padding: 24px auto;
  }
}

/*==================================================================================*/
/* info section */
.info {
  position: relative;
}
.info::before {
  top: 170px;
  content: "";
  display: block;
  position: absolute;
  width: 120vw;
  height: 111px;
  background-color: #ffeb87;
  z-index: -1;
  margin: 3% -10% 0 -20%;
  transform: rotate(-12deg);
}
@media screen and (max-width: 1000px) {
  .info::before {
    top: 100px;
    height: 150px;
  }
}
.info .info__text {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-content: center;
}
.info img {
  height: 150px;
  width: auto;
  margin-bottom: 1rem;
}
.info p {
  padding: 2rem 8rem;
}
@media screen and (max-width: 1000px) {
  .info p {
    padding: 8px;
  }
  .info img {
    height: 85px;
  }
}

/*==================================================================================*/
/* footer */
footer {
  background-color: #504100;
  color: #E6E6E5;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 2rem 6rem;
  z-index: -1;
}
footer .footer__left h4 {
  color: #E6E6E5;
  font-weight: 700;
  margin-bottom: 1rem;
}
footer .footer__left p {
  color: #E6E6E5;
}
@media screen and (max-width: 1000px) {
  footer .footer__left p {
    display: none;
  }
}
@media screen and (max-width: 1000px) {
  footer {
    flex-direction: column;
    padding: 2rem;
  }
  footer .footer__right {
    align-items: flex-start;
    align-content: flex-start;
    align-self: flex-start;
  }
}/*# sourceMappingURL=styles.css.map */