{{ partial "header.html" . }}
<section class="maincont u-section-header">
  <h1 class="contents_title">{{ .Title }}</h1>
</section>


<section class="maincont">
  <div class="contents_title">{{ .Title }}</div>
  <div class="contents_text">
    {{ .Content }}
  </div>
</section>
<ol class="breadcrumb">
  {{- template "breadcrumb" (dict "node" . "start" .) }}
</ol>


{{ $g := .Site.GetPage "/news" }}
{{ range first 5 $g.Data.Pages }}
<div class="card">
  <a class="infolink" href="{{ .RelPermalink }}">
    <p class="date">{{.Date.Format "2006-01-02"}}</p>
    <p class="title">{{.Title}}</p>
  </a>
</div>
{{ end }}

{{ $paginator := .Paginate (where .Pages "Type" "posts") }}
{{ template "_internal/pagination.html" . }}
{{ range $paginator.Pages }}
   {{ .Title }}
{{ end }}


{{ partial "footer.html" . }}