
.history__page-title {
    padding: 128px 0 64px;
    @include page__title();
    @media screen and (max-width: 767px) {
        padding: 64px 0 32px;
        &::before {
            top: -490px;
        }
    }
}


.history__main-cont {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 64px;
    padding: 64px 0 128px;
    @media screen and (max-width: 1199px) {
        padding: 64px 77px 128px;
    }
    @media screen and (max-width: 767px) {
        padding: 32px 32px 64px;
    }
    .history__kv {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 32px;
        @media screen and (max-width: 767px) {
            gap: 16px;
            p {
                letter-spacing: 0.1px;
            }
        }
        &-text {
            font-weight: 500;
            text-align: center;
        }
        &-image {
            height: 400px;
            width: 600px;
            @media screen and (max-width: 767px) {
                height: 200px;
                width: 300px;
            }
        }
    }
    .career {
        &__title {
            color: $c-secondary-030;
            text-align: center;
            margin-bottom: 32px;
            @media screen and (max-width: 767px) {
                margin-bottom: 16px;
            }
        }
        &__section {
            display: flex;
            flex-direction: column;
            gap: 64px;
            @media screen and (max-width: 767px) {
                gap: 32px;
            }
            .career__content {
                &-year {
                    font-weight: 500;
                }
            }
        }
    }

}