$c-primary-000: #504100;
$c-primary-010: #876d00;
$c-primary-020: #bd9900;
$c-primary-030: #f3c500;
$c-primary-040: #f9d73a;
$c-primary-050: #ffe873;
$c-primary-060: #ffeb87;
$c-primary-070: #ffef9a;
$c-primary-080: #fbe583;
$c-primary-090: #fff5c1;
$c-primary-095: #fff9d5;
$c-primary-099: #fffce8;
$c-primary-100: #ffffff;

// ================ secondary ================
$c-secondary-000: #403710;
$c-secondary-010: #6c5c1b;
$c-secondary-020: #978226;
$c-secondary-030: #C2A731;
$c-secondary-040: #d7c064;
$c-secondary-050: #e3d58f;
$c-secondary-060: #e7db9f;
$c-secondary-070: #ebe1ae;
$c-secondary-080: #efe7be;
$c-secondary-090: #F3EDCD;
$c-secondary-095: #f7f3dd;
$c-secondary-099: #faf9ed;
$c-secondary-100: #ffffff;

// ================ tertiary ================
$c-tertiary-000: #491919;
$c-tertiary-010: #7c2d2e;
$c-tertiary-020: #ae4243;
$c-tertiary-030: #e15658;
$c-tertiary-040: #e87a7c;
$c-tertiary-050: #ef9ea0;
$c-tertiary-060: #f1abad;
$c-tertiary-070: #f3b7b9;
$c-tertiary-080: #f6c4c6;
$c-tertiary-090: #f8d1d2;
$c-tertiary-095: #FAF9ED;
$c-tertiary-099: #FCEAEB;
$c-tertiary-100: #ffffff;

// ================ neutral ================
$c-neutral-000: #383833;
$c-neutral-010: #55585B;
$c-neutral-020: #5B5B55;
$c-neutral-030: #91918B;
$c-neutral-040: #9D9D98;
$c-neutral-050: #A9A9A5;
$c-neutral-060: #B5B5B2;
$c-neutral-070: #EAEAEA;
$c-neutral-080: #CDCDCC;
$c-neutral-090: #D9D9D9;
$c-neutral-095: #E6E6E5;
$c-neutral-099: #E6E6E5;
$c-neutral-100: #ffffff;

$info-text: #333538;
$c-blue-dark: #367785;
$c-blue-light: #4da5b6;
$ex-worker: #BA4583;
$ex-staff: #399B5B;


//blog card
$blog-bg-card1: #D9F0EE;
$blog-bg-card2: #C2E1FF;
$blog-bg-card3: #F8DFF1;
$blog-bg-card4: #F5F6DA;
$blog-bg-card5: #F9F0DA;
$blog-bg-card6: #EAEAEA;
$blog-border-card1: #348b76;
$blog-border-card2: #36608D;
$blog-border-card3: #BA4583;
$blog-border-card4: #D1AB00;
$blog-border-card5: #D88000;
$blog-border-card6: #6B6B60;

$input-outline: #76797D;
$input-error-message: #DC362E;

