$c-primary-000: #504100;
$c-primary-010: #876d00;
$c-primary-020: #bd9900;
$c-primary-030: #f3c500;
$c-primary-040: #f9d73a;
$c-primary-050: #ffe873;
$c-primary-060: #ffeb87;
$c-primary-070: #ffef9a;
$c-primary-080: #fbe583;
$c-primary-090: #fff5c1;
$c-primary-095: #fff9d5;
$c-primary-099: #fffce8;
$c-primary-100: #ffffff;

// ================ secondary ================
$c-secondary-000: #403710;
$c-secondary-010: #6c5c1b;
$c-secondary-020: #978226;
$c-secondary-030: #c2a731;
$c-secondary-040: #d7c064;
$c-secondary-050: #e3d58f;
$c-secondary-060: #e7db9f;
$c-secondary-070: #ebe1ae;
$c-secondary-080: #efe7be;
$c-secondary-090: #f3edcd;
$c-secondary-095: #f7f3dd;
$c-secondary-099: #faf9ed;
$c-secondary-100: #ffffff;

// ================ tertiary ================
$c-tertiary-000: #491919;
$c-tertiary-010: #7c2d2e;
$c-tertiary-020: #ae4243;
$c-tertiary-030: #e15658;
$c-tertiary-040: #e87a7c;
$c-tertiary-050: #ef9ea0;
$c-tertiary-060: #f1abad;
$c-tertiary-070: #f3b7b9;
$c-tertiary-080: #f6c4c6;
$c-tertiary-090: #f8d1d2;
$c-tertiary-095: #fadddf;
$c-tertiary-099: #fceaeb;
$c-tertiary-100: #ffffff;

// ================ neutral ================
$c-neutral-000: #383833;
$c-neutral-010: #55585b;
$c-neutral-020: #7D7D76;
$c-neutral-030: #91918B;
$c-neutral-040: #9D9D98;
$c-neutral-050: #A9A9A5;
$c-neutral-060: #B5B5B2;
$c-neutral-070: #C2C2BF;
$c-neutral-080: #CDCDCC;
$c-neutral-090: #D9D9D9;
$c-neutral-095: #E6E6E5;
$c-neutral-099: #E6E6E5;
$c-neutral-100: #ffffff;

$c-blue-dark: #367785;
$c-blue-light: #4da5b6;