a {
    text-decoration: none;
    color: $c-neutral-010;
}

p {
    font-size: 1rem;
    font-weight: 700;
    line-height: 24px;
    color: $c-neutral-010;
}

h1 {
    font-size: 40px;
    font-weight: 700;
    color: $c-neutral-010;
    text-align: center;
    padding: 1rem 0;
}

h4 {
    font-size: 24px;
    font-weight: 700;
    color: $c-neutral-000;
    text-align: center;
    line-height: 1.5;
}

ul,
li {
    list-style-type: none;
    margin-bottom: 1rem;
    color: $c-neutral-099;
}

.text-justify {
    text-align: justify;
}

.text-blue {
    color: $c-blue-dark;
}

.text-pink {
    color: $c-tertiary-040;
}