// ============================================================================
// color scheme
// ============================================================================

// ================ primary ================
$c-primary-000: #504100;
$c-primary-010: #876d00;
$c-primary-020: #bd9900;
$c-primary-030: #f3c500;
$c-primary-040: #f9d73a;
$c-primary-050: #ffe873;
$c-primary-060: #ffeb87;
$c-primary-070: #ffef9a;
$c-primary-080: #fff2ae;
$c-primary-090: #fff5c1;
$c-primary-095: #fff9d5;
$c-primary-099: #fffce8;
$c-primary-100: #ffffff;

// ================ secondary ================
$c-secondary-000: #403710;
$c-secondary-010: #6c5c1b;
$c-secondary-020: #978226;
$c-secondary-030: #c2a731;
$c-secondary-040: #d6c15d;
$c-secondary-050: #e3d58f;
$c-secondary-060: #e7db9f;
$c-secondary-070: #ebe1ae;
$c-secondary-080: #efe7be;
$c-secondary-090: #f3edcd;
$c-secondary-095: #f7f3dd;
$c-secondary-099: #faf9ed;
$c-secondary-100: #ffffff;

// ================ tertiary ================
$c-tertiary-000: #491919;
$c-tertiary-010: #7c2d2e;
$c-tertiary-020: #ae4243;
$c-tertiary-030: #e15658;
$c-tertiary-040: #e87a7c;
$c-tertiary-050: #ef9ea0;
$c-tertiary-060: #f1abad;
$c-tertiary-070: #f3b7b9;
$c-tertiary-080: #f6c4c6;
$c-tertiary-090: #f8d1d2;
$c-tertiary-095: #fadddf;
$c-tertiary-099: #fceaeb;
$c-tertiary-100: #ffffff;

// ================ neutral ================
$c-neutral-000: #383833;
$c-neutral-010: #5B5B55;
$c-neutral-020: #7D7D76;
$c-neutral-030: #91918B;
$c-neutral-040: #9D9D98;
$c-neutral-050: #A9A9A5;
$c-neutral-060: #B5B5B2;
$c-neutral-070: #C2C2BF;
$c-neutral-080: #CDCDCC;
$c-neutral-090: #D9D9D9;
$c-neutral-095: #E6E6E5;
$c-neutral-099: #E6E6E5;
$c-neutral-100: #ffffff;

// ================ error ================
$c-error-000: #000000;
$c-error-010: #410e0b;
$c-error-020: #601410;
$c-error-030: #8c1d18;
$c-error-040: #b3261e;
$c-error-050: #dc362e;
$c-error-060: #e46962;
$c-error-070: #ec928e;
$c-error-080: #f2b8b5;
$c-error-090: #f9dedc;
$c-error-095: #fceeee;
$c-error-099: #fffbf9;
$c-error-100: #ffffff;

// ============================================================================
// basic elements
// ============================================================================
html{
  height: 100%;
}
body {
  background-color: $c-neutral-100;
  font-family: "Zen Kaku Gothic New", sans-serif;
  font-feature-settings: "palt" 1;
  display: grid;
  grid-template-rows: 1fr auto;
  min-height: 100%;
}

section {
  // border-bottom: 1px solid #000;
  // padding: 32px;
  h1 {
    font-weight: 1.5rem;
    font-weight: bold;
  }
}

// ============================================================================
// typography
// ============================================================================
.left {
  text-align: left;
}
.right {
  text-align: right;
}
.center {
  text-align: center;
}
p {
  color: $c-neutral-010;
  line-height: 1.5;
  font-size: 1rem;
}

.maincont {
  &.contarea{
    @media screen and (min-width: 1000px) {
      margin-top: 5rem;
      margin-bottom: 10rem;
    }
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-style: normal;
    font-weight: 700;
    line-height: 150%;
    color: #383833;
    margin-bottom: 1rem;
  }
  h1 {
    font-size: 28px;
  }
  h2 {
    font-size: 20px;
  }
  h3 {
    font-size: 18px;
  }
  h4 {
    font-size: 16px;
  }
  h5 {
    font-size: 14px;
  }
  h6 {
    font-size: 13px;
  }
  p {
    margin: 0.5rem 0;
  }
  ul,
  ol {
    // border: 1px solid #000;
    margin: 1rem 0 1rem 1.5rem;
    list-style-position: outside;
  }
  ul {
    list-style-type: disc;
  }
  ol {
    list-style-type: decimal;
  }
  li {
    line-height: 1.5;
  }
  blockquote {
    margin: 1rem 1rem 1rem;
    background-color: $c-secondary-099;
    padding: 1rem;
    border-radius: 0.2rem;
    > blockquote {
      background-color: rgba(#000, 0.05);
    }
  }
  pre {
    margin: 1rem 1rem 1rem;
    background-color: $c-secondary-099;
    padding: 1rem;
    border-radius: 0.2rem;
  }
  hr {
    margin: 1rem 1rem;
  }
  a {
    text-decoration: underline;
  }
  img {
    width: 100%;
    height: auto;
    display: block;
    margin: 1rem 0;
  }
  table {
    width: 100%;
    border: 1px solid #000;
    margin: 1rem 0;
    //caption {}
    thead {
      background-color: $c-secondary-090;
    }
    //tbody {}
    //tfoot {}
    //tr {}
    th {
      padding: 0.3rem;
      border: 1px solid #000;
    }
    td {
      padding: 0.3rem;
      border: 1px solid #000;
    }
    //col {}
    //colgroup {}
  }
}

// ============================================================================
// conponents
// ============================================================================
.wrap {
  // width: 100vw;
  overflow: hidden;
}

.btn {
  // border: 1px solid #000;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  a {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    width: 60%;
    font-style: normal;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.5rem;
    text-decoration: none;
  }
  &.round a {
    border-radius: 5rem;
  }
  &.dark a {
    background: $c-neutral-000;
    color: $c-neutral-095;
  }
  &.yellow a {
    background: $c-primary-040;
    color: $c-neutral-000;
  }
  &.min a {
    padding: 0.5rem;
    font-size: 0.85rem;
  }
}
.card {
  border: 1px solid #000;
  padding: 1rem;
  &.round {
    border-radius: 0.5rem;
  }
  &.no-border {
    border: none;
  }
  &.yellow-o {
    border-color: #ffb904;
  }
  &.gray-light{
    border-color: $c-neutral-020;
  }
  &.gray-pale{
    border-color: $c-neutral-080;
  }
}
.elevation-1 {
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
}
.elevation-2 {
  box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.25);
}
.elevation-3 {
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.25);
}
.innerblock {
  position: relative;
  padding: 0 0;
  margin: 2rem 0;
  // overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  .stepheder{
    // border: 1px solid $c-primary-020;
    border-radius: 0.5rem;
    background-color: $c-primary-050;
    @media screen and (min-width: 1000px) {
      background-color: transparent;
      border-bottom: 1px solid #000;
      border-radius: 0;
    }
      &.left{
      align-self: stretch;
      border-left: none;
      border-radius: 0 0.5rem 0.5rem 0;
      margin-right: 32px;
        @media screen and (min-width: 1000px) {
          border-radius: 0;
        }
      }
    &.right{
      align-self: stretch;
      border-left: none;
      border-radius: 0.5rem 0 0 0.5rem;
      margin-left: 32px;
      @media screen and (min-width: 1000px) {
        border-radius: 0;
      }
  }
    h2{
      margin: 0.5rem 0 0.5rem 0;
      display: flex;
      flex-wrap: nowrap;
      justify-content: flex-start;
      align-items: flex-end;
      &.num{
        margin: -1.5rem 0 0.5rem 2rem;
      }
      .num__inner{
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: flex-start;
        align-items: center;
      }
      .step{
        font-size: 13px;
        line-height: 1;
      }
      .figure{
        font-size: 60px;
        line-height: 1;
        margin-top: -9px;
      }
      //.title{}
      &.text{
        margin: 0.5rem 0 0.5rem 2rem;
      }
    }
  }
  .card {
    background-color: #fff;
    width: 100%;
    margin-bottom: 1rem;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    position: relative;
  }
}

.relation-link{
  a{
    display: block;
    position: relative;
    border: 1px solid $c-primary-010;
    line-height: 1;
    padding: 1rem 1rem;
    text-decoration: none;
    font-size: 0.875rem;
    border-radius: 3rem;
    color: $c-primary-010;
    @media screen and (min-width: 1000px) {
      &:hover{
        background-color: $c-primary-080;
      }
    }
      &::before{
      display: block;
      position: absolute;
      top: 1rem;
      right: 1rem;
      // transform: rotate(45deg);
      content: "";
      // border-top: 2px solid #000;
      // border-right: 2px solid #000;
      width: 0.875rem;
      height: 0.875rem;
      background-image: url("data:image/svg+xml,%3Csvg%20width%3D%226%22%20height%3D%228%22%20viewBox%3D%220%200%206%208%22%20fill%3D%22none%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%0A%3Cpath%20d%3D%22M1.47003%200L0.530029%200.94L3.58336%204L0.530029%207.06L1.47003%208L5.47003%204L1.47003%200Z%22%20fill%3D%22%237D7D76%22%2F%3E%0A%3C%2Fsvg%3E%0A");
      background-repeat: no-repeat;
      background-position: center;
    }
  }
}

.single,
.section {
  .innerblock {
    padding: 0;
    margin: 0rem;
    align-items: flex-start;
  }
}

.section__head {
  margin-bottom: 3rem;
}
.breadcrumb {
  width: 100%;
  padding: 0 2rem;
  margin-bottom: 1rem;
  ol {
    margin: 0;
    list-style: none;
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
  }
  li {
    margin: 0 0.5rem 0 0;
  }
  a {
    display: block;
    position: relative;
    text-decoration: none;
    padding: 0 1rem 0 0;
    &::after {
      position: absolute;
      top: 0;
      bottom: 0;
      right: 0;
      left: auto;
      margin: auto;
      content: "";
      vertical-align: middle;
      width: 8px;
      height: 8px;
      border-top: 1px solid #5b5b55;
      border-right: 1px solid #5b5b55;
      transform: rotate(45deg);
    }
  }
}

.pagination{
  display: flex;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
  margin: 1rem 2rem 2rem;
  border: 1px solid $c-neutral-080;
  border-radius: 3rem;
  overflow: hidden;
  @media screen and (min-width: 1000px) {
    max-width: 500px;
    margin: 1rem auto 5rem;
    justify-content: center;
  }
  .page-item{
    // border: 1px solid #f00;
    flex: 1;
    .page-link{
      display: flex;
      flex-wrap: nowrap;
      justify-content: center;
      align-items: center;
      border-right: 1px solid $c-neutral-080;
      height: 3rem;
      color: $c-primary-010;
    }
    &.disabled{
      .page-link{
        color: rgba($c-primary-010,0.25);
      }
    }
    &.active{
      background-color: $c-primary-080;
    }
    &:last-child{
      .page-link{
        border-right: none;
      }
    }
  }
}


// ============================================================================
// header
// ============================================================================

header {
  background-color: rgba(255, 255, 255, 0);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 60px;
  overflow: hidden;
  z-index: 50;
  transition: all 0.3s linear;
  &.is-float {
    background-color: rgba(255, 255, 255, 1);
  }
}
.header-wrapper {
  position: relative;
  @media screen and (min-width: 1000px) {
    max-width: 1000px;
    margin: 0 auto;
  }
}
.header_title {
  // background-color: #fff;
  font-size: 1rem;
  font-weight: bold;
  line-height: 1;
  padding: 1rem;
  span {
    display: block;
    font-size: 0.8rem;
  }
}
.global-nav {
  // border: 1px solid #000;
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  flex-wrap: nowrap;
  justify-content: flex-end;
  align-items: flex-start;
  // width: 100vw;
  .navlist {
    // border: 1px solid #00f;
    position: fixed;
    top: 0;
    right: 0;
    width: 100vw;
    height: 100vh;
    pointer-events: none;
    .modebg {
      display: block;
      position: fixed;
      top: 0;
      right: 0;
      width: 100vw;
      height: 100vh;
      background-color: rgba(0, 0, 0, 0);
      pointer-events: none;
      z-index: -10;
      transition: all 0.3s linear;
    }
    .navlist__inner {
      // border: 1px solid #0ff;
      background-color: #fff;
      display: flex;
      flex-direction: column;
      flex-wrap: nowrap;
      align-items: stretch;
      justify-content: flex-start;
      width: 80vw;
      height: 100vh;
      // overflow: hidden;
      border-radius: 0 1rem 1rem 0;
      pointer-events: none;
      opacity: 0;
      transition: all 0.3s linear;
      z-index: 20;
      @media screen and (min-width: 1000px) {
        width: 20rem;
      }
      .listgroup {
        width: 100%;
        padding: 1rem;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: flex-start;
        align-items: stretch;
        .navlist__item {
          width: 100%;
          height: 3rem;
          display: flex;
          flex-wrap: nowrap;
          justify-content: space-between;
          align-items: center;
          a {
            flex: 1;
            height: 100%;
            display: flex;
            flex-wrap: nowrap;
            justify-content: space-between;
            align-items: center;
            // border: 1px solid #000;
            padding: 0.5rem;
            &:hover {
              background-color: rgba(0, 0, 0, 0.1);
            }
          }
        }
      }
    }
  }
  .p-hamburger {
    // background-color: #fff;
    width: 60px;
    height: 60px;
    box-shadow: 0 0 2rem transparent;
    outline: none;
    transition: all 0.3s ease-in-out;
    z-index: 20;
  }
  &.is-drawerActive {
    width: 100vw;
    .navlist {
      .modebg {
        background-color: rgba(0, 0, 0, 0.5);
        pointer-events: auto;
      }
      .navlist__inner {
        width: 80vw;
        pointer-events: auto;
        opacity: 1;
        @media screen and (min-width: 1000px) {
          width: 20rem;
        }
      }
    }
    .p-hamburger[aria-expanded="true"] .p-hamburger__line::before,
    .p-hamburger[aria-expanded="true"] .p-hamburger__line::after {
      background-color: #fff;
    }
  }
}

.c-button {
  position: relative;
  display: inline-block;
  text-decoration: none;
  appearance: none;
  border: none;
  background-color: transparent;
  cursor: pointer;
}
//.p-hamburger {
  // position: absolute;
  // top: 0;
  // bottom: auto;
  // left: auto;
  // right: 0;
//}
//.p-hamburger:hover,
//.p-hamburger:focus {
  // box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.5);
//}

.p-hamburger__line {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  width: 18px;
  height: 2px;
  background-color: #383833;
  transition: inherit;
}
.p-hamburger__line::before,
.p-hamburger__line::after {
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  background-color: inherit;
  content: "";
  transition: inherit;
}
.p-hamburger__line::before {
  top: -5px;
}
.p-hamburger__line::after {
  top: 5px;
}

.p-hamburger[aria-expanded="true"] .p-hamburger__line {
  background-color: transparent;
}
.p-hamburger[aria-expanded="true"] .p-hamburger__line::before,
.p-hamburger[aria-expanded="true"] .p-hamburger__line::after {
  top: 0;
  background-color: #383833;
}
.p-hamburger[aria-expanded="true"] .p-hamburger__line::before {
  transform: rotate(45deg);
}
.p-hamburger[aria-expanded="true"] .p-hamburger__line::after {
  transform: rotate(-45deg);
}
.u-visuallyHidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

// ============================================================================
// Key Visual Area
// ============================================================================

.kv {
  // height: 80vh;
  min-height: 700px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  position: relative;
  padding: 60px 0 32px;
  overflow: hidden;
  //.innerblock {
  //}
  &::before {
    content: "";
    display: block;
    position: absolute;
    top: -12vw;
    left: 0;
    width: 120vw;
    height: 41vw;
    background-color: $c-primary-050;
    z-index: -1;
    margin: 3% -10% 0;
    transform: rotate(-10deg);
    @media screen and (min-width: 1000px) {
      top: -45vw;
      height: 50vw;
    }
  }
  .catchcopy {
    display: block;
    font-weight: bold;
    font-size: 2.5rem;
    padding: 1rem 2rem 0;
    line-height: 1.15;
  }
  .person{
    display: block;
    font-size: 0.875rem;
    line-height: 1.5;
    padding: 0.25rem 2rem 1rem;
  }
  .readcopy {
    display: block;
    font-size: 0.875rem;
    line-height: 1.75;
    padding: 0.25rem 4rem 1rem;
  }
  .main-visual {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1px;
    color: transparent;
    // border: 1px solid #000;
    height: 100vw;
    width: 100%;
    margin: -3rem 0 2rem;
    // background-image: url(../images/kv.png);
    // background-size: cover;
    // background-position: center top;
    // background-repeat: no-repeat;
    z-index: -1;
    img{
      width: 100%;
      height: auto;
    }
  }
  @media screen and (min-width: 1000px) {
    justify-content: center;
    align-items: center;
    height: auto;
    // min-height: auto;
    .innerblock {
      max-width: 1000px;
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 2fr 1fr;
      gap: 0px 0px;
      grid-auto-flow: row;
      grid-template-areas:
        "copy image"
        "btn image";
    }
    .copy {
      justify-self: end;
      align-self: end;
      grid-area: copy;
    }
    .catchcopy {
      font-size: 3rem;
      padding: 1rem 2rem 0;
      line-height: 1.15;
    }
    .person{
      font-size: 1rem;
      line-height: 1.5;
      padding: 0.25rem 2rem 1rem;
    }
    .readcopy {
      font-size: 1rem;
      line-height: 1.75;
      padding: 0.25rem 2rem 1rem;
    }
    .btn {
      justify-self: end;
      align-self: start;
      align-items: flex-start;
      grid-area: btn;
      padding: 0 2rem;
    }
    .main-visual {
      justify-self: start;
      align-self: center;
      grid-area: image;
      height: auto;
    }
  }
}

// ============================================================================
// Main Contents Area
// ============================================================================

.maincont {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
}

// ============================================================================
// message Area
// ============================================================================

.msg {
  padding: 32px;
  // overflow: hidden;
  .read {
    position: relative;
    display: block;
    font-size: 1rem;
    line-height: 1.5;
    padding: 0.25rem 1rem 1rem;
    @media screen and (min-width: 1000px) {
      font-size: 1.15rem;
      line-height: 1.7;
      max-width: 800px;
      margin: 0 auto;
    }
    &:first-child{
      &::before {
        content: "";
        display: block;
        position: absolute;
        top: -2rem;
        right: -5rem;
        width: 100vw;
        height: 16px;
        background-color: $c-primary-050;
        z-index: -1;
        margin: 3% -10% 0;
        transform: rotate(-10deg);
        @media screen and (min-width: 1000px) {
          right: -25%;
          width: 50%;
          height: 16px;
          margin: 0;
        }
      }
    }
    &:last-child{
      &::after {
        content: "";
        display: block;
        position: absolute;
        bottom: -1rem;
        left: -5rem;
        width: 100vw;
        height: 16px;
        background-color: $c-primary-050;
        z-index: -1;
        margin: 3% -10% 0;
        transform: rotate(-10deg);
        @media screen and (min-width: 1000px) {
          left: -25%;
          width: 50%;
          height: 16px;
          margin: 0;
        }
      }
    }
  }
}

// ============================================================================
// Pain Area
// ============================================================================

.pain {
  h1 {
    padding: 32px;
    @media screen and (min-width: 1000px) {
      text-align: center;
      padding-top: 5rem;
    }
    br {
      @media screen and (min-width: 1000px) {
        display: none;
      }
    }
  }
  .innerblock {
    // border: 1px solid #000;
    margin: 0;
    padding: 0;
    display: flex;
    overflow: hidden;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    @media screen and (min-width: 1000px) {
      max-width: 1000px;
      margin: 0 auto;
    }
    .pain__item {
      position: relative;
      // border: 1px solid #00f;
      margin-bottom: 3rem;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: stretch;
      @media screen and (min-width: 1000px) {
        margin-bottom: 5rem;
        flex-direction: row;
        justify-content: flex-start;
        align-items: stretch;
      }
    
      &.u-pos-r,
      &.u-pos-l {
        position: relative;
      }
      &.u-pos-r {
        @media screen and (min-width: 1000px) {
        }
        //.btn {}
      }
      &.u-pos-l {
        @media screen and (min-width: 1000px) {
          flex-direction: row-reverse;
        }
        //.btn {}
      }
      .btn {
        display: inline-block;
        background-color: $c-tertiary-030;
        color: $c-tertiary-100;
        text-decoration: none;
        padding: 0.5rem;
        border-radius: 3rem;
        text-align: center;
      }
    }
    .card {
      // width: 100%;
      margin: 0 0;
      flex-direction: column;
      background-color: $c-primary-100;
      p {
        // margin-bottom: 1rem;
        line-height: 1.5;
        span {
          font-weight: 900;
        }
      }
      @media screen and (min-width: 1000px) {
        flex: 1;
      }
    }
    .u-pos-r {
      .card {
        margin-left: 32px;
        width: auto;
        padding: 1rem 2rem 1rem 1rem;
        border-radius: 0.5rem 0 0 0.5rem;
          @media screen and (min-width: 1000px) {
            margin: 0;
          }
        }
    }
    .u-pos-l {
      .card {
        margin-right: 32px;
        width: auto;
        padding: 1rem 1rem 1rem 2rem;
        border-radius: 0 0.5rem 0.5rem 0;
        @media screen and (min-width: 1000px) {
          margin: 0;
        }
    }
    }
    .image {
      top: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      // z-index: 1;
      img{
        margin: 0 0 -1rem 0;
      }
      @media screen and (min-width: 1000px) {
        width: 500px;
      }
    }
    .u-pos-r {
      .image {
        margin-right: 2rem;
        @media screen and (min-width: 1000px) {
          margin: 0 2rem 0 0;
        }
      }
    }
    .u-pos-l {
      .image {
        margin-left: 2rem;
        @media screen and (min-width: 1000px) {
          margin: 0 0 0 2rem;
        }
      }
    }
  }
}

// ============================================================================
// feature Area
// ============================================================================

.feat {
  position: relative;
  padding-top: 40px;
  overflow: hidden;
  &::before {
    content: "";
    display: block;
    position: absolute;
    top: 40px;
    left: 0;
    width: 120vw;
    height: 160px;
    background-color: $c-primary-050;
    z-index: -1;
    margin: 3% -10% 0;
    transform: rotate(-10deg);
    @media screen and (min-width: 1000px) {
      display: none;
    }
}
  .section__head {
    margin-bottom: 0;
    padding: 32px;
    h1{
      @media screen and (min-width: 1000px) {
        text-align: center;
      }
    }
  }
  .innerblock {
    // border: 1px solid #000;
    position: relative;
    padding: 0 32px;
    margin: 0;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    @media screen and (min-width: 600px) {
      max-width: 1000px;
      margin: 0 auto;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: center;
      align-items: stretch;
      align-content: stretch;
    }
    .feat__item {
      @media screen and (min-width: 600px) {
        margin: 0 1rem 1rem 0;
        flex: 0 1 45%;
        &:nth-child(2n){
          margin: 0 0 1rem 0;
        }
      }
    }
    .card {
      background-color: #fff;
      width: 100%;
      margin-bottom: 1rem;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: stretch;
      align-content: stretch;
      padding: 1rem 1rem;
      @media screen and (min-width: 600px) {
        height: 100%;
      }

      h2 {
        line-height: 1.5;
        margin-bottom: 0.5rem;
        font-size: 1.25rem;
        font-weight: bold;
        color: #5b5b55;
      }
      .card-inner{
        @media screen and (min-width: 1000px) {
          // display: flex;
          // flex-direction: row;
          // justify-content: center;
          // align-items: center;
        }
      }
      .image {
        flex: 0 0 125px;
        display: flex;
        justify-content: center;
        align-items: center;
        // background-color: #eee;
        // height: 125px;
        height: auto;
        width: 100%;
        margin: 1rem 0;
        // opacity: 0.5;
        @media screen and (min-width: 1000px) {
          flex: 1;
          height: auto;
        }
      }
      p {
        @media screen and (min-width: 1000px) {
          flex: 1;
        }
      }
    }
  }
}

// ============================================================================
// function Area
// ============================================================================

.func {
  position: relative;
  padding-top: 40px;
  overflow: hidden;
  &::before {
    content: "";
    display: block;
    position: absolute;
    top: 40px;
    left: 0;
    width: 120vw;
    height: 160px;
    background-color: $c-primary-050;
    z-index: -1;
    margin: 3% -10% 0;
    transform: rotate(-10deg);
  }
  .innerblock {
    // border: 1px solid #000;
    position: relative;
    padding: 0 32px;
    margin: 0;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    .card {
      background-color: #fff;
      width: 100%;
      margin-bottom: 1rem;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;
      padding: 1rem 2rem;
      h2 {
        line-height: 1.5;
        margin-bottom: 0.5rem;
        font-size: 1.25rem;
        font-weight: bold;
        color: #5b5b55;
      }
      .func__list {
        margin: 0 0 1rem 0;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: flex-start;
        align-content: flex-start;
        li {
          border: 1px solid #5b5b55;
          margin: 0.2rem;
          padding: 0.25rem 1rem;
          text-align: center;
          border-radius: 100px;
          font-size: 0.85rem;
          color: #5b5b55;
          list-style-type: none;
          list-style-position: inside;
        }
      }
      .image {
        flex: 0 0 125px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #eee;
        height: 125px;
        width: 100%;
        margin-bottom: 0.5rem;
        opacity: 0.5;
      }
      //p {}
    }
  }
}

// ============================================================================
// information Area
// ============================================================================

.info,
.qa {
  h1 {
    padding: 64px 32px 0;
    @media screen and (min-width: 1000px) {
      text-align: center;
    }
    br {
      @media screen and (min-width: 1000px) {
        display: none;
      }
    }
  }
  // a {
  //   display: block;
  // }
  .innerblock {
    position: relative;
    padding: 0 32px;
    margin: 0;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    @media screen and (min-width: 1000px) {
      width: 1000px;
      margin: 0 auto 5rem;
    }
  }
  .card {
    background-color: #fff;
    width: 100%;
    margin-bottom: 1rem;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    position: relative;
    padding: 0;
    &::after {
      position: absolute;
      top: 0;
      bottom: 0;
      right: 16px;
      left: auto;
      margin: auto;
      content: "";
      vertical-align: middle;
      width: 10px;
      height: 10px;
      border-top: 1px solid #5b5b55;
      border-right: 1px solid #5b5b55;
      transform: rotate(45deg);
    }
    a {
      width: 100%;
      display: flex;
      flex-direction: column;
      flex-wrap: nowrap;
      justify-content: center;
      align-items: stretch;
      text-decoration: none;
      padding: 1rem 2rem 1rem 1rem;
      p {
        margin: 0;
      }
    }
    .date {
      font-size: 0.8rem;
      display: block;
      width: 100%;
    }
    .title {
      display: block;
      width: 100%;
    }
  }
  .btn {
    padding-bottom: 1rem;
  }
}

// ============================================================================
// Footer Area
// ============================================================================

footer {
  grid-row-start: 2;
  grid-row-end: 3;
  background-color: $c-neutral-095;
  .footer_title {
    // background-color: #fff;
    font-size: 1rem;
    font-weight: bold;
    line-height: 1;
    text-align: center;
    padding: 1rem;
    span {
      display: block;
      font-size: 0.8rem;
    }
  }
  .nav {
    padding-bottom: 5rem;
    padding: 2rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    @media screen and (min-width: 1000px) {
      max-width: 1000px;
      margin: 0 auto;
    }
    .listgroup {
      width: 100%;
      margin-bottom: 1rem;
      .navlist__item {
        margin-bottom: 0.5rem;
        a {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: flex-start;
          padding: 1rem;
          font-style: normal;
          font-weight: 400;
          font-size: 1rem;
          line-height: 1.5rem;
          border-radius: 0.5rem;
          // background: #fff;
          border: 1px solid $c-neutral-080;
          color: $c-neutral-010;
          padding: 0.5rem;
          font-size: 0.85rem;
          transition: background-color 100ms;
          &:hover{
            background-color: $c-neutral-080;
          }
        }
      }
    }
  }
}

// ============================================================================
// section-header Area
// ============================================================================

.u-section-header {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  position: relative;
  padding-top: 100px;
  // overflow: hidden;
  &::before {
    content: "";
    display: block;
    position: absolute;
    top: -12vw;
    left: 0;
    width: 120vw;
    height: 41vw;
    background-color: $c-primary-050;
    z-index: -1;
    margin: 3% -10% 0;
    transform: rotate(-10deg);
    @media screen and (min-width: 1000px) {
      top: -45vw;
      height: 50vw;
    }
  }



  .contents_title {
    margin: 0 2rem;
    text-align: center;
    .before{
      font-size: 16px;
      display: block;
      line-height: 1;
      @media screen and (min-width: 1000px) {
        display: inline;
        font-size: 28px;
      }
    }
    .after{
      font-size: 16px;
      display: block;
      line-height: 1;
      @media screen and (min-width: 1000px) {
        display: inline;
        font-size: 28px;
      }
    }
  }
}

// ============================================================================
// example page
// ============================================================================

.example{
  // margin-bottom: 5rem;
  padding-top: 80px;
  @media screen and (min-width: 1000px) {
    max-width: 1000px;
    margin: 0 auto;
  }
.stepheder{
    margin-bottom: 1rem;
    + p{
      margin: 0 2rem;
    }
  }
  .ex-case{
    padding: 32px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    @media screen and (min-width: 1000px) {
      flex-direction: row;
      justify-content: space-around;
      flex-wrap: wrap;
    }

    .case{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      // border: 1px dotted #000;
      background-color: #eee;
      height: 200px;
      width: 200px;
      margin-bottom: -2rem;
      border-radius: 100px;
      @media screen and (min-width: 1000px) {
        height: 300px;
        width: 300px;
        margin-bottom: 1rem;
        border-radius: 150px;
      }
      &:last-child{
        margin-bottom: 0;
      }
      &.right{
        align-self: flex-end;
        @media screen and (min-width: 1000px) {
          align-self:auto;
        }
      }
      &.left{
        align-self: flex-start;
        @media screen and (min-width: 1000px) {
          align-self:auto;
        }
      }
      p{
        margin: 0;
        text-align: center;
      }
      .roll{
        font-size: 0.875rem;
        font-weight: bold;
      }
      .image{
        font-size: 0.875rem;
        img{
          margin: 0;
        }
      }
      .action{
        font-size: 0.875rem;
        z-index: 10;
      }
    }
  }
  &#step1{
    .ex-case{
      @media screen and (min-width: 1000px) {
        justify-content: center;
      }
      .case{
        @media screen and (min-width: 1000px) {
          &:nth-child(1){
            margin-right: 1rem;
          }
          &:nth-child(2){
            margin-right: 200px;
          }
          &:nth-child(3){
            margin-right: 1rem;
            margin-left: 200px;
          }
        }
      }  
    }
  }
  .relation-link{
    margin: 0 2rem;
    @media screen and (min-width: 1000px) {
      width: 500px;
      margin: 0 auto;
    }
    h3{
      font-size: 0.875rem;
      text-align: center;
    }
  }
}

// ============================================================================
// function page
// ============================================================================

.function{
  @media screen and (min-width: 1000px) {
    max-width: 1000px;
    margin: 0 auto;
  }
  >p{
    padding: 0 2rem;
    font-size: 1rem;
  }
  &#notes{
    @media screen and (min-width: 1000px) {
      margin-bottom: 3rem;
    }
    >p{
      @media screen and (min-width: 1000px) {
        text-align: center;
        margin-bottom: 1rem;
      }
    }
  }
  .explanatory{
    border: 1px solid $c-neutral-080;
    margin: 0 2rem;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 0.25rem;
    border-radius: 0.5rem;
    font-size: 0.875rem;
    @media screen and (min-width: 1000px) {
      width: 750px;
      margin: 0 auto;
    }

    > div{
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      align-items: center;
      img{
        display: block;
        width: 30px;
        height: 30px;
        border-radius: 15px;
        overflow: hidden;
        border: 1px solid $c-neutral-020;
        margin-right: 0.25rem;
        @media screen and (min-width: 1000px) {
          width: 40px;
          height: 40px;
          border-radius: 20px;
          margin-right: 0.5rem;
        }
      }
      p{
        font-size: 0.85rem;
        line-height: 1.2;
        @media screen and (min-width: 1000px) {
          br{
            display: none;
          }
        }
      }
    }
  }
  .func-case{
    padding: 32px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    @media screen and (min-width: 1000px) {
      flex-direction: row;
      justify-content: flex-start;
      align-items: stretch;
      flex-wrap: wrap;
    }
    .case{
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: stretch;
      position: relative;
      @media screen and (min-width: 1000px) {
        justify-content: flex-start;
        width: calc(33% - 1rem);
        margin-right: 1rem;
        &:nth-child(3n){
          margin-right: 0;
        }
      }
        p{
        margin: 0;
        text-align: left;
      }
      .badge{
        position: absolute;
        top: 0.5rem;
        right: 0.5rem;
        z-index: 10;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        > div{
          border: 1px solid  $c-neutral-020;
          width: 30px;
          height: 30px;
          border-radius: 20px;
          overflow: hidden;
          margin-right: 0.25rem;
          &:last-child{
            margin: 0;
          }
          img{
            margin: 0;
          }
        }
        }
      .title{
        font-size: 1rem;
        font-weight: bold;
        margin-bottom: 1rem;
      }
      .image{
        font-size: 0.875rem;
      }
      .read{
        font-size: 0.875rem;
        text-align-last: left;
        margin-bottom: 1rem;
      }
      .action{
        font-size: 0.875rem;
      }
      .relation-link{
        @media screen and (min-width: 1000px) {
          margin-top: auto;
        }
      }
    }
  }
}
// ============================================================================
// info page
// ============================================================================
.innerblock {
&.info{
    padding: 2rem 2rem 1rem;
    @media screen and (min-width: 1000px) {
      width: 1000px;
      margin: 0 auto;
    }
  }
}

// ============================================================================
// company page
// ============================================================================

.innerblock {
  &.company{
    padding: 2rem;
    .logo{
      width: 35%;
      margin: 0 auto;
      @media screen and (min-width: 1000px) {
        width: 350px;
      }
    }
    .business{
      .business-diagram {
        @media screen and (min-width: 1000px) {
          padding: 0 3rem;
        }
      }
      .teams{
        color: $c-neutral-010;
        @media screen and (min-width: 1000px) {
          display: flex;
          flex-direction: row;
          flex-wrap: nowrap;
          justify-content: space-around;
          align-items: stretch;
          margin: 0 20px;
        }
        .teambox{
          border: 1px solid $c-neutral-080;
          margin-bottom: 1rem;
          border-radius: 0.5rem;
          overflow: hidden;
          flex: 1 1 auto;
          .inner {
            display: flex;
            flex-direction: column;
            flex-wrap: nowrap;
            justify-content: flex-start;
            align-items: stretch;
            align-content: stretch;
            margin: 0 20px;

            @media screen and (min-width: 1000px) {
              flex-direction: row;
              flex-wrap: nowrap;
              justify-content: flex-start;
              align-items: stretch;
              align-content: stretch;
              margin: 0 20px;
            }

            .image {
              width: 100%;
              height: 100px;
              background-color: transparent;
              border: none;
              @media screen and (min-width: 1000px) {
                width: 100px;
                height: auto;
              }
              img{
                height: 100px;
                width: auto;
              }
            }
          }
        }
        .team-dev{
          margin-right: 0;
          @media screen and (min-width: 1000px) {
            margin-right: 0.5rem;
          }
        }
        //.team-cc{}
        .teamname{
          margin: 0;
          padding: 0.5rem;
          background-color: $c-neutral-080;
          text-align: center;
          font-size: 0.825rem;
          font-weight: bold;
        }
        .note{
          padding: 0.5rem;
          line-height: 1.25;
          font-size: 0.825rem;
        }
        ul{
          margin: 0.5rem 0 0.5rem 3rem;
          li{
            line-height: 1.25;
          }
        }
      }
    }
    .image {
      display: flex;
      justify-content: center;
      align-items: center;
      border: 1px dotted #000;
      background-color: $c-primary-099;
      height: 150px;
    }
    @media screen and (min-width: 1000px) {
      max-width: 1000px;
      margin: 0 auto;
    }
  }
}

// ============================================================================
// contact page
// ============================================================================

.innerblock {
  &.contact {
    position: relative;
    padding: 1rem;
    width: 100%;
    height: 1300px;
    overflow-y: none;
    @media screen and (min-width: 1000px) {
      height: 1100px;
    }
    iframe {
      // width: 100%;
      height: 100%;
      overflow-y: none;
    }
    @media screen and (min-width: 1000px) {
      max-width: 1000px;
      margin: 0 auto;
    }
  }
}

// ============================================================================
// background page
// ============================================================================

.innerblock {
  &.background {
    padding: 2rem;
    @media screen and (min-width: 1000px) {
      max-width: 1000px;
      margin: 0 auto 5rem;
    }
  }
}


// ============================================================================
// single page
// ============================================================================
.single{
  @media screen and (min-width: 1000px) {
    min-height: 50vh;
  }
}

.contents_text{
  @media screen and (min-width: 1000px) {
  }
  section{
    margin: 2rem 0;
    &.enclose{
      border: 1px solid $c-neutral-080;
      border-radius: 0.5rem;
      padding: 1rem;
    }
  }
  h2{
    margin: 0.5rem 0 0.5rem 0;
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: flex-end;
    @media screen and (min-width: 1000px) {
      br{
        display: none;
        text-align: center;
      }
    }
  }
  dl{
    dt{
      line-height: 1.5;
      margin-bottom: 0.25rem;
    }
    dd{
      line-height: 1.5;
      + dt{
        margin-top: 1rem;
      }
      ul{
        &.no-bullet{
          list-style: none;
          margin: 0;
        }
        li{
          font-size: 0.875rem;
          margin: 0 0 0.5rem 0;
        }
      }
    }
  }
}