{{ partial "header.html" . }}

<div class="wrap">

<section class="maincont u-section-header">
    <h1 class="contents_title"><span class="before">{{ .Params.beforeTitle }}</span>{{ .Title }}<span class="after">{{ .Params.afterTitle }}</span></h1>
</section>

<section class="maincont section">
    <div class="innerblock info">
        {{ $g := .Site.GetPage "/news" }}
        {{ range $g.Paginator.Pages }}
        <div class="card round gray-pale">
            <a class="infolink" href="{{ .RelPermalink }}">
                <p class="date">{{.Date.Format "2006-01-02"}}</p>
                <p class="title">{{.Title}}</p>
            </a>
        </div>
        {{ end }}
    </div>
</section>

{{ if or ($g.Paginator.HasPrev) ($g.Paginator.HasNext) }}
<nav>
  <ul class="pagination justify-content-center">

    {{ if $g.Paginator.HasPrev }}
    <li class="page-item"><a class="page-link" href="{{ $g.Paginator.First.URL }}">&laquo;&laquo;</a></li>
    <li class="page-item"><a class="page-link" href="{{ $g.Paginator.Prev.URL }}">&laquo;</a></li>
    <li class="page-item"><a class="page-link" href="{{ $g.Paginator.Prev.URL }}">{{ $g.Paginator.Prev.PageNumber }}</a></li>
    {{ else }}
    <li class="page-item disabled"><a class="page-link">&laquo;&laquo;</a></li>
    <li class="page-item disabled"><a class="page-link">&laquo;</a></li>
    <li class="page-item disabled"><a class="page-link"> </a></li>
    {{ end }}

    <li class="page-item active"><a class="page-link" href="{{ $g.Paginator.URL }}">{{ .Paginator.PageNumber }}</a></li>

    {{ if $g.Paginator.HasNext }}
    <li class="page-item"><a class="page-link" href="{{ $g.Paginator.Next.URL }}">{{ .Paginator.Next.PageNumber }}</a></li>
    <li class="page-item"><a class="page-link" href="{{ $g.Paginator.Next.URL }}">&raquo;</a></li>
    <li class="page-item"><a class="page-link" href="{{ $g.Paginator.Last.URL }}">&raquo;&raquo;</a></li>
    {{ else }}
    <li class="page-item disabled"><a class="page-link">&nbsp;</a></li>
    <li class="page-item disabled"><a class="page-link">&raquo;</a></li>
    <li class="page-item disabled"><a class="page-link">&raquo;&raquo;</a></li>
    {{ end }}

</ul>
</nav>
{{ end }}

</div>

{{ partial "footer.html" . }}