{{ partial "header.html" . }}

<section class="maincont u-section-header">
    <h1 class="contents_title">{{ .Title }}</h1>
    <div class="breadcrumb">
        <ol>
            <li><a href="{{ .Site.BaseURL }}">Home</a></li>
            <li>お知らせ</li>
        </ol>
    </div>
</section>

<section class="maincont list">
    <div class="innerblock">
        {{ .Content }}
    </div>
    <div class="innerblock info">
        {{ $g := .Site.GetPage "/news" }}
        {{ range first 5 $g.Data.Pages }}
        <div class="card round yellow-o">
            <a class="infolink" href="{{ .RelPermalink }}">
                <p class="date">{{.Date.Format "2006-01-02"}}</p>
                <p class="title">{{.Title}}</p>
            </a>
        </div>
        {{ end }}
        {{ template "_internal/pagination.html" . }}
    </div>
</section>

{{ $paginator := .Paginate (where .Pages "Type" "posts") }}
{{ template "_internal/pagination.html" . }}
{{ range $paginator.Pages }}
   {{ .Title }}
{{ end }}

{{ partial "footer.html" . }}