//blog details page title


.details__page-title {
    padding: 0;
    @include page__title();
    @media screen and (max-width: 767px) {
      &::before {
        top: -490px;
      }
    }
  }

//=========================================================================
//blog details page  
/* most of the code is reused from blog.scss */

  .blog__details {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 64px;
    padding: 128px 0;
    @media screen and (max-width: 1199px) {
      padding: 128px 0;
      flex-direction: column;
      max-width: 768px;
      margin: 0 auto;
    }
    @media screen and (max-width: 767px) {
      flex-direction: column;
      padding: 64px 32px;
      gap: 32px;
      .blog__link {
        display: none;
      }
    }
    .blog__card-wrapper {
      gap: 128px;
      .blog__pagination {
        padding: 0;
        .pagination__section {
          color: $c-tertiary-000;
        }
      }
      @media screen and (max-width: 767px) {
        gap: 32px;
        .blog__pagination {
          flex-direction: column;
          gap: 16px;
        }
      }
    }
    .blog__link {
      margin-bottom: 184px;
    }
    .blog__card {
      align-items: center;
      gap: 32px;
      &-date {
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 24px; /* 150% */
        letter-spacing: 0.15px;
      }
      &-content {
        height: auto;
      }
      @media screen and (max-width: 767px) {
        gap: 16px;
        &-content {
          height: auto;
        }
      }
    }
  
    .blog__details-content {
      display: flex;
      flex-direction: column;
      gap: 64px;
      @media screen and (max-width: 767px) {
        gap: 32px;
      }
      p {
        color: $c-neutral-020;
        font-size: 1.5rem;
        font-weight: 400;
        line-height: 32px;
        @media screen and (max-width: 767px) {
          font-size: 16px;
          font-style: normal;
          font-weight: 400;
          line-height: 24px; /* 150% */
          letter-spacing: 0.15px;
        }
      }
      .blog__details-lead {
        color: $c-neutral-020;
        font-size: 1.5rem;
        font-weight: 400;
        line-height: 32px;
        @media screen and (max-width: 767px) {
          font-size: 16px;
          font-style: normal;
          font-weight: 400;
          line-height: 24px; /* 150% */
          letter-spacing: 0.15px;
        }
      }
      .blog__details-table {
        display: flex;
        flex-direction: column;
        gap: 16px;
        border: 1px solid #6c5c1b;
        padding: 16px;
        .table-title {
          font-size: 1.75rem;
          font-weight: 700;
          line-height: 36px;
          color: $c-neutral-020;
          @media screen and (max-width: 767px) {
            font-size: 16px;
            font-style: normal;
            font-weight: 700;
            line-height: 24px; /* 150% */
            letter-spacing: 0.15px;
          }
        }
      }
      .details__content {
        .details__content-title {
          color: $c-neutral-020;
          font-size: 2.25rem;
          font-weight: 700;
          line-height: 44px;
          margin-bottom: 16px;
          @media screen and (max-width: 767px) {
            font-size: 22px;
            font-style: normal;
            font-weight: 700;
            line-height: 28px;
          }
        }
      }
    }
  }
  