
//===============================================================
// profile page title 

.profile__page-title {
  @include page__title();
}

//===============================================================
//profile main content section

.profile__kv {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  &::before {
    @include bg-deco(600px, 120vw, $c-primary-050);
    top: -800px;
    @media screen and (max-width: 1199px) {
      top: -640px;
    }
    @media screen and (max-width: 767px) {
      top: -680px;
    }
  }
  &-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
  }
  img {
      height: 150px;
      width: auto;
      @media screen and (max-width: 767px) {
        height: 90px;
      }
    }
}

//===============================================================
/* business section (2nd section) */

.business {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 64px;
  position: relative;
  @media screen and (max-width: 1199px) {
    padding: 64px 16px;
  }
  @media screen and (max-width: 767px) {
    padding: 32px;
    gap: 32px;
  }
  h2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight: 700;
    position: relative;
    &::before {
      top: -65px;
      @include bg-deco(111px, 120vw, $c-primary-060);
      @media screen and (max-width: 1199px) {
        top: -25px;
        height: 111px;
      }
      @media screen and (max-width: 767px) {
        height: 57px;
        top: -20px;
      }
    }
  }
  .teams {
    display: flex;
    flex-direction: row;
    gap: 32px;
    width: 100%;
    margin: 0 auto;
    @media screen and (max-width: 967px) {
      flex-direction: column;
    }
    &__box {
      border: 1px solid $c-secondary-030;
      overflow: hidden;
      flex: 1 1 auto;
      &-name {
        margin: 0;
        padding: 0.5rem;
        background-color: $c-primary-060;
        text-align: center;
        font-size: 22px;
        line-height: 28px;
        font-weight: 500;
        @media screen and (max-width: 767px) {
          font-size: 16px;
          line-height: 24px;
          letter-spacing: 0.15px;
        }
      }
      &-inner {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 16px 32px 26px;
        gap: 32px;
        img {
          height: 100px;
          width: 100px;
        }
        @media screen and (max-width: 767px) {
          padding: 8px 16px;
          flex-direction: column;
          align-items: flex-start;
          gap: 8px;
          img {
            margin: 0 auto;
            height: 70px;
            width: 70px;
          }
        }
      }
      &-note {
        padding: 0 32px 16px;
        line-height: 20px;
        font-weight: 400;
        font-size: 14px;
        letter-spacing: 0.25px;
        text-align: center;
        @media screen and (max-width: 767px) {
          font-size: 12px;
          line-height: 16px;
          letter-spacing: 0.4px;
          padding: 0 16px 8px;
          text-align: start;
        }
      }
    }
    li {
      margin: 0;
      font-weight: 400;
      &:before {
        content: "\2022";
        color: inherit;
        font-size: 20px;
        margin: 0 5px;
      }
    }
  }
}

//=======================================================
//enclose section (3rd section)

.enclose {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid $c-secondary-030;
  margin: 64px auto 128px;
  padding: 32px;
  @media screen and (max-width: 1199px) {
    margin: 64px 16px 128px;
  }
  @media screen and (max-width: 767px) {
    margin: 32px 32px 64px;
    padding: 16px;

  }
  dl {
    dt {
      font-size: 22px;
      line-height: 28px;
      font-weight: 700;
      margin-bottom: 0.25rem;
    }
    .enclose__button {
      display: flex;
      flex-direction: row;
      align-items: center;
      box-sizing: border-box;
      gap: 12px;
      .button {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 22px;
        width: 80px;
        border-radius: 11px;
        padding: 0 23.5px;
        background-color: $c-secondary-030;
        &:hover {
          background-color: $c-secondary-040;
        }
        a {
          width: 33px;
          height: 24px;
          margin-bottom: 3px;
          color: $c-neutral-100;
          font-size: 16px;
          line-height: 24px;
          font-weight: 700;
          letter-spacing: 0.15px;
        }
      }
  }
    dd {
      font-size: 16px;
      font-weight: 400;
      line-height: 24px;
      letter-spacing: 0.15px;
      + dt {
        margin-top: 1rem;
      }
      ul {
        margin: 0;
      }
      li {
        list-style-type: disc;
        font-size: 16px;
        margin: 0 0 0.5rem 2rem;
        font-weight: 400;
      }
    }
    @media screen and (max-width: 767px) {
      dl {
        dt {
          font-size: 14px;
          line-height: 20px;
          letter-spacing: 0.1px;
          margin-bottom: 0;
        }
        dd {
          font-size: 12px;
          line-height: 16px;
          letter-spacing: 0.4px;
          margin-bottom: 1rem;
          + dt {
            margin-top: 0.2rem;
          }
          li {
            font-size: 12px;
            line-height: 16px;
            letter-spacing: 0.4px;
          }
        }
        .enclose__button {
          gap: 8px;
          .button {
            height: 16px;
            width: 52px;
            padding: 0 13.5px;
            a {
              margin-bottom: 2px;
              width: 25px;
              height: 16px;
              font-size: 12px;
              line-height: 16px;
              letter-spacing: 0.4px;
              }
          }
        }
      }
    }
  }
}

//============================================
//business diagram

.business__diagram {
  width: 100%;
  max-width: 100%;
  margin: 0 auto;
  height: 551px;
  position: relative;
  @media screen and (max-width: 1199px) {
    height: 584px;
  }
  @media screen and (max-width: 767px) {
    height: 304px;
  }
  .top-box {
    position: absolute;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 91.67%;
    height: 327px;
    left: 0px;
    top: 0;
    gap: 32px;
    padding: 32px 32px 135px;
    background: $c-neutral-100;
    border: 1px solid $c-secondary-030;
    .box__title,
    p {
      text-align: right;
    }
    @media screen and (max-width: 1199px) {
      height: 359px;
      padding-bottom: 167px;
    }
    @media screen and (max-width: 767px) {
      height: 192px;
      padding: 16px 16px 96px;
    }
  }
  .center-box {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    position: absolute;
    width: 83.33%;
    left: 8.33%;
    padding: 32px;
    height: 103px;
    top: 224px;
    z-index: 1;
    background: $c-primary-060;
    border: 2px solid $c-secondary-030;
    @media screen and (max-width: 1199px) {
      height: 135px;
    }
    @media screen and (max-width: 767px) {
      top: 112px;
      height: 80px;
      padding: 16px 32px;
    }
    .center-box__title {
      width: 864px;
      font-weight: 700;
      font-size: 32px;
      line-height: 40px;
      text-align: center;
      color: #5b5b55;
      @media screen and (max-width: 1199px) {
        font-size: 28px;
        line-height: 36px;
      }
      @media screen and (max-width: 767px) {
        font-size: 16px;
        line-height: 24px;
        letter-spacing: 0.15px;
      }
    }
  }
  .bottom-box {
    position: absolute;
    width: 91.67%;
    height: 327px;
    right: 0;
    bottom: 0;
    padding: 135px 32px 32px;
    background: $c-tertiary-100;
    border: 1px solid $c-secondary-030;
    @media screen and (max-width: 1199px) {
      height: 360px;
      padding-top: 167px;
      img {
        height: 128px;
      }
    }
    @media screen and (max-width: 767px) {
      height: 192px;
      padding: 96px 16px 16px;
      img {
        height: 80px;
        width: 139px;
      }
    }
  }
  img {
    height: 160px;
    width: auto;
    @media screen and (max-width: 767px) {
      height: 80px;
    }
  }
  .box__inside {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 32px;
    @media screen and (max-width: 767px) {
      height: 80px;
      gap: 16px;
      padding: 0 1rem;
    }
  }
  .box__text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 16px;
    p {
      color: $c-neutral-020;
    }
    .box__title {
      color: $c-tertiary-040;
      font-size: 22px;
      font-weight: 700;
      line-height: 28px;
    }
    @media screen and (max-width: 1199px) {
      height: 160px;
    }
    @media screen and (max-width: 767px) {
      height: 80px;
      gap: 8px;
      .box__title {
        font-size: 14px;
        line-height: 20px;
        letter-spacing: 0.1px;
      }
      p {
        font-size: 12px;
        line-height: 16px;
        letter-spacing: 0.4px; 
      }
    }
  }
}
