name: Publish on Deno Deploy
on:
  push:
    branches: [main]
  workflow_dispatch:
jobs:
  build_and_deploy:
    if: github.repository == 'clipcrow/clipcrow.com'
    runs-on: ubuntu-latest
    permissions:
      id-token: write
      contents: read

    steps:
      - uses: actions/checkout@v4
      - uses: denoland/setup-deno@v1
        with:
          deno-version: v2.6
      - run: deno task build
      - uses: denoland/deployctl@v1
        with:
          project: "${{ vars.DENO_DEPLOY_PROJECT }}"
          entrypoint: serve.ts
