//blog page title

.blog__page-title {
  padding: 103px 0 64px;
  @include page__title();
  @media screen and (max-width: 767px) {
    padding: 32px 0 64px;
    &::before {
      top: -890px;
    }
  }
}

//========================================================================================
//blog main content section

.blog__maincont {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 0 0 128px;
  gap: 64px;

  @media screen and (max-width: 1199px) {
    flex-direction: column;
    align-items: center;
    max-width: 768px;
  }
  @media screen and (max-width: 767px) {
    flex-direction: column;
    gap: 32px;
    padding: 32px 0 0;
  }
}

//=====================================================================================
// blog details link

.blog__link {
  display: flex;
  flex-direction: column;
  gap: 64px;
  padding: 32px;
  margin-bottom: 120px;
  width: 100%;
  flex-grow: 1;
  background-color: $c-tertiary-095;
  @media screen and (max-width: 767px) {
    margin-bottom: 0;
    gap: 32px;
    margin: 0 -32px;
  }
  .blog__monthly-title,
  .blog__latest-title {
    font-size: 22px;
    font-weight: 500;
    line-height: 28px;
    @media screen and (max-width: 767px) {
      font-size: 16px;
      font-weight: 500;
      line-height: 24px; /* 150% */
      letter-spacing: 0.15px;
    }
  }
  .blog__latest {
    display: flex;
    flex-direction: column;
    gap: 12px;
    @media screen and (max-width: 767px) {
      gap: 8px;
    }
    .blog__latest-content {
      display: flex;
      flex-direction: column;
      gap: 4px;
      a {
        color: $c-neutral-020;
        font-size: 16px;
        font-weight: 400;
        line-height: 24px;
        letter-spacing: 0.15px;
        @media screen and (max-width: 767px) {
          font-size: 14px;
          line-height: 20px; 
          letter-spacing: 0.25px;
        }
      }
    }
  }
  .blog__monthly {
    display: flex;
    flex-direction: column;
    gap: 8px;
    @media screen and (max-width: 767px) {
      gap: 4px;
    }
    .blog-monthly-section {
      display: flex;
      flex-direction: column;
      position: relative;
      .toggleButton {
        display: none;
      }
      .blog__monthly-year {
        display: flex;
        flex-direction: row;
        justify-items: center;
        align-items: center;
        cursor: pointer;
        gap: 8px;
        .monthly__dropdown-icon {
          width: 30px;
          height: 30px;
          background-image: url("data:image/svg+xml,%3Csvg%20width%3D%2230%22%20height%3D%2230%22%20viewBox%3D%220%200%2030%2030%22%20fill%3D%22none%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20d%3D%22M11.875%2021.25L18.125%2015L11.875%208.75V21.25Z%22%20fill%3D%22%235B5B55%22%2F%3E%3C%2Fsvg%3E");
          @media screen and (max-width: 767px) {
            width: 25px;
            height: 25px;
          }
        }
      }
      .monthly__dropdown-content {
        gap: 4px;
        display: none;
        top: 100%;
        padding: 0;
        padding-left: 64px;
        background-color: transparent;
        @media screen and (max-width: 767px) {
          padding-left: 48px;
        }
        a {
          color: $c-neutral-020;
          font-size: 16px;
          font-weight: 400;
          line-height: 24px; /* 150% */
          letter-spacing: 0.15px;
          @media screen and (max-width: 767px) {
            font-size: 14px;
            line-height: 20px; /* 142.857% */
            letter-spacing: 0.25px;
          }
        }
      }
      .toggleButton:checked ~ .monthly__dropdown-content {
        display: flex;
        flex-direction: column;
      }
      .toggleButton:checked ~ .blog__monthly-year .monthly__dropdown-icon {
        background-image: url("data:image/svg+xml,%3Csvg%20width%3D%2230%22%20height%3D%2230%22%20viewBox%3D%220%200%2030%2030%22%20fill%3D%22none%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20d%3D%22M8.75%2011.875L15%2018.125L21.25%2011.875H8.75Z%22%20fill%3D%22%235B5B55%22%2F%3E%3C%2Fsvg%3E");
      }
    }
  }
}

//=============================================================================
// blog cards
/* there are 2 types of blog cards in blog section
    1. card with no background images
    2. card with background images 
  
    Card with background images are image-1 and image-2
  */

.blog__card-wrapper {
  display: flex;
  flex-direction: column;
  gap: 32px;
  width: 768px;
  @media screen and (max-width: 1199px) {
    max-width: 768px;
  }
  @media screen and (max-width: 767px) {
    width: 100%;
    align-items: center;
    padding: 0 32px;
  }
  .blog__card {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
    width: 100%;
    @media screen and (max-width: 767px) {
      &__date {
        font-size: 12px;
        font-weight: 400;
        line-height: 16px; /* 133.333% */
        letter-spacing: 0.4px;
      }
    }
    &-content {
      align-items: center;
      height: auto;
      width: 768px;
      padding: 32px;
      border-width: 1px;
      border-style: solid;
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain;
      position: relative;
      @media screen and (max-width: 767px) {
        width: 100%;
        padding: 16px;
      }

      &.image-1 {
        background-image: url("/images/blog-illust.png");
      }
      &.image-2 {
        background-image: url("/images/blog-illust-1.png");
      }

      &.card-1 {
        border-color: $blog-border-card1;
        background-color: $blog-bg-card1;
      }
      &.card-2 {
        border-color: $blog-border-card2;
        background-color: $blog-bg-card2;
      }
      &.card-3 {
        border-color: $blog-border-card3;
        background-color: $blog-bg-card3;
      }
      &.card-4 {
        border-color: $blog-border-card4;
        background-color: $blog-bg-card4;
      }
      &.card-5 {
        border-color: $blog-border-card5;
        background-color: $blog-bg-card5;
      }
      &.card-6 {
        border-color: $blog-border-card6;
        background-color: $blog-bg-card6;
      }

      .card__inside {
        display: flex;
        flex-direction: column;
        padding: 32px;
        gap: 32px;
        border-width: 2px;
        border-style: solid;
        cursor: pointer;
        @media screen and (max-width: 767px) {
          padding: 32px 16px;
          gap: 16px;
        }
        &.card-1 {
          border-color: $blog-border-card1;
        }
        &.card-2 {
          border-color: $blog-border-card2;
        }
        &.card-3 {
          border-color: $blog-border-card3;
        }
        &.card-4 {
          border-color: $blog-border-card4;
        }
        &.card-5 {
          border-color: $blog-border-card5;
        }
        &.card-6 {
          border-color: $blog-border-card6;
        }
        .card__title {
          color: $c-tertiary-000;
          text-align: center;
        }
        .card__lead {
          color: $c-neutral-020;
          font-size: 1.5rem;
          text-align: left;
          font-weight: 400;
          line-height: 32px;
          display: -webkit-box; /* Required for Safari and some old versions of iOS */
          -webkit-line-clamp: 3; /* Number of lines to display */
          -webkit-box-orient: vertical;
          overflow: hidden;
          @media screen and (max-width: 767px) {
            font-size: 1rem;
            line-height: 24px;
            letter-spacing: 0.15px;
            width: 100%;
            height: 48px;
            -webkit-line-clamp: 2; /* Number of lines to display */
          }
        }
        .card__category {
          height: 56px;
          padding: 16px 32px;
          margin: 0 auto;
          border: 1px solid $c-tertiary-000;
          color: $c-tertiary-000;
          font-size: 1rem;
          font-weight: 400;
          line-height: 24px; /* 150% */
          letter-spacing: 0.15px;
          @media screen and (max-width: 767px) {
            height: 32px;
            padding: 8px 16px;
            font-size: 12px;
            line-height: 16px;
            letter-spacing: 0.4px;
          }
        }
      }
    }
  }
}

//=========================================================================
//blog pagination in the bottom

.blog__pagination {
  display: flex;
  width: 1200px;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 32px 0 0;
  gap: 128px;
  @media screen and (max-width: 767px) {
    gap: 64px;
  }
  .pagination__section {
    display: flex;
    flex-direction: row;
    font-size: 1.5rem;
    font-weight: 400;
    line-height: 32px;
    color: $c-neutral-020;
    position: relative;
    cursor: pointer;
    gap: 8px;
    padding: 12px 24px;
    &.prev {
      .pagination__nav {
        background-image: url("data:image/svg+xml,%3Csvg%20width%3D%2230%22%20height%3D%2230%22%20viewBox%3D%220%200%2030%2030%22%20fill%3D%22none%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20d%3D%22M19.6312%209.2625L17.8687%207.5L10.3687%2015L17.8687%2022.5L19.6312%2020.7375L13.9062%2015L19.6312%209.2625Z%22%20fill%3D%22%235B5B55%22%2F%3E%3C%2Fsvg%3E");
      }
    }
    .pagination__nav {
      content: "";
      width: 30px;
      height: 30px;
      right: -40px;
      background-image: url("data:image/svg+xml,%3Csvg%20width%3D%2230%22%20height%3D%2230%22%20viewBox%3D%220%200%2030%2030%22%20fill%3D%22none%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20d%3D%22M12.1312%207.5L10.3687%209.2625L16.0937%2015L10.3687%2020.7375L12.1312%2022.5L19.6312%2015L12.1312%207.5Z%22%20fill%3D%22%235B5B55%22%2F%3E%3C%2Fsvg%3E");
      background-repeat: no-repeat;
      background-position: center;
    }
  }
  @media screen and (max-width: 1199px) {
    width: 100%;
  }
  @media screen and (max-width: 767px) {
    width: 100%;
    padding: 0;
    .pagination__section {
      padding: 8px 12px;
      font-size: 14px;
      font-style: normal;
      font-weight: 400;
      line-height: 20px; /* 150% */
      letter-spacing: 0.25px;
      &.start {
        align-self: flex-start;
      }
      &.end {
        align-self: flex-end;
      }
      .pagination__nav {
        height: 24px;
        width: 24px;
        top: -10px;
      }
    }
  }
}
